/*** Primary & Seconday Menus - IE7 and earlier ***/
.mcneese.agent-name-ie.is-legacy.is-unsupported #mcneese-header > .header-section > .header-menu > .html_tag-nav > li {
  display: inline;
}

.mcneese.agent-name-ie.is-legacy.is-unsupported #mcneese-header > .header-section > .header-menu > .html_tag-nav > li > a {
  text-align: center;

  margin-left: 2px;
  margin-right: 2px;
}



/*** Fix breadcrumb alignment issues ***/
.mcneese.agent-name-ie #mcneese-breadcrumb > .crumb,
.mcneese.agent-name-ie #mcneese-breadcrumb > .crumb-trail,
.mcneese.agent-name-ie #mcneese-breadcrumb > .crumb-node_id,
.mcneese.agent-name-ie #mcneese-breadcrumb > .crumb-user_id {
  vertical-align: top;
}
