/*** View ***/
#mcneese-event-workflow-event-view-0-page {
  font-size: 12px;
  line-height: 14px;

  width: 680px;
  min-width: 680px;
  max-width: 680px;
}

#mcneese-page-content .page-title .html_tag-hgroup .page-title {
  font-size: 16px;
  line-height: 18px;

  margin: 0px;
  padding: 0px;
}

#mcneese-event-workflow-event-view-0-page .event-field_groups .group .section-event {
  display: table-cell;

  width: 340px;
  min-width: 340px;
  max-width: 340px;
}
