.mcneese #mcneese-breadcrumb.relative > .navigation_list > .crumb-request_id {
  display: inline-block;

  vertical-align: top;

  font-weight: bold;

  padding: 3px;

  float: right;
}

.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb-request_id {
  display: block;

  color: #ffffff;
  background-color: #005a92;
  text-decoration: none;

  width: 100%;
  height: 100%;

  min-width: 160px;
  max-width: 350px;

  padding: 4px 8px;

  border-width: 0px 1px;
  border-style: outset;
  border-color: #00335b;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
