


/*** Reviewers ***/
#mfcs-manage_reviewers > .mfcs-manage_reviewers-manage {
  display: inline-block;
  vertical-align: top;

  width: 460px;
  min-width: 460px;
  max-width: 460px;

  padding: 0px 5px 5px 5px;
}



/*** Dashboard ***/
#mfcs-dashboard_page-choices > .mfcs-dashboard_page-choices-list_1,
#mfcs-dashboard_page-choices > .mfcs-dashboard_page-choices-list_2,
#mfcs-dashboard_page-choices > .mfcs-dashboard_page-choices-list_3 {
  display: inline-block;
  vertical-align: top;

  width: 460px;
  min-width: 460px;
  max-width: 460px;

  padding: 0px 5px 5px 5px;
}

#mfcs-dashboard_page-choices > .mfcs-dashboard_page-choices-list_1 > .item-list > ul,
#mfcs-dashboard_page-choices > .mfcs-dashboard_page-choices-list_2 > .item-list > ul,
#mfcs-dashboard_page-choices > .mfcs-dashboard_page-choices-list_3 > .item-list > ul {
  margin: 0px;
}

#mfcs-dashboard_page-choices > .mfcs-dashboard_page-choices-list_1 > .item-list > ul > li,
#mfcs-dashboard_page-choices > .mfcs-dashboard_page-choices-list_2 > .item-list > ul > li,
#mfcs-dashboard_page-choices > .mfcs-dashboard_page-choices-list_3 > .item-list > ul > li {
  min-height: 70px;
}



/*** Management ***/
#mfcs-management_page-choices > .mfcs-management_page-choices-list_1,
#mfcs-management_page-choices > .mfcs-management_page-choices-list_2,
#mfcs-management_page-choices > .mfcs-management_page-choices-list_3 {
  display: inline-block;
  vertical-align: top;

  width: 460px;
  min-width: 460px;
  max-width: 460px;

  padding: 0px 5px 5px 5px;
}

#mfcs-management_page-choices > .mfcs-management_page-choices-list_1 > .item-list > ul,
#mfcs-management_page-choices > .mfcs-management_page-choices-list_2 > .item-list > ul,
#mfcs-management_page-choices > .mfcs-management_page-choices-list_3 > .item-list > ul {
  margin: 0px;
}

#mfcs-management_page-choices > .mfcs-management_page-choices-list_1 > .item-list > ul > li,
#mfcs-management_page-choices > .mfcs-management_page-choices-list_2 > .item-list > ul > li,
#mfcs-management_page-choices > .mfcs-management_page-choices-list_3 > .item-list > ul > li {
  min-height: 70px;
}



/*** View ***/
#mfcs-request-view-0-form #request-display-submit-uncancel,
#mfcs-request-view-0-form #request-display-submit-cancel {
  color: #000000;
  background-color: #e86f69;
}

#mfcs-request-view-0-form #request-display-submit-uncancel:focus,
#mfcs-request-view-0-form #request-display-submit-uncancel:active,
#mfcs-request-view-0-form #request-display-submit-uncancel:hover,
#mfcs-request-view-0-form #request-display-submit-cancel:focus,
#mfcs-request-view-0-form #request-display-submit-cancel:active,
#mfcs-request-view-0-form #request-display-submit-cancel:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}

#mfcs-request-view-0-form #request-display-submit-reassign {
  float: right;

  color: #000000;
  background-color: #e775e3;
}

#mfcs-request-view-0-form #request-display-submit-reassign:focus,
#mfcs-request-view-0-form #request-display-submit-reassign:active,
#mfcs-request-view-0-form #request-display-submit-reassign:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}



/*** Cancel / Uncancel ***/
#mfcs-request-view-0-form #request-uncancel-submit-yes,
#mfcs-request-uncancel-0-form #request-uncancel-submit-yes,
#mfcs-request-view-0-form #request-cancel-submit-yes,
#mfcs-request-cancel-0-form #request-cancel-submit-yes {
  color: #000000;
  background-color: #e86f69;
}

#mfcs-request-view-0-form #request-uncancel-submit-yes:focus,
#mfcs-request-view-0-form #request-uncancel-submit-yes:active,
#mfcs-request-view-0-form #request-uncancel-submit-yes:hover,
#mfcs-request-uncancel-0-form #request-uncancel-submit-yes:focus,
#mfcs-request-uncancel-0-form #request-uncancel-submit-yes:active,
#mfcs-request-uncancel-0-form #request-uncancel-submit-yes:hover,
#mfcs-request-view-0-form #request-cancel-submit-yes:focus,
#mfcs-request-view-0-form #request-cancel-submit-yes:active,
#mfcs-request-view-0-form #request-cancel-submit-yes:hover,
#mfcs-request-cancel-0-form #request-cancel-submit-yes:focus,
#mfcs-request-cancel-0-form #request-cancel-submit-yes:active,
#mfcs-request-cancel-0-form #request-cancel-submit-yes:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}

#mfcs-request-view-0-form #request-cancel-submit-no,
#mfcs-request-cancel-0-form #request-cancel-submit-no,
#mfcs-request-view-0-form #request-uncancel-submit-no,
#mfcs-request-uncancel-0-form #request-uncancel-submit-no {
  color: #000000;
  background-color: #cecece;
}

#mfcs-request-view-0-form #request-uncancel-submit-no:focus,
#mfcs-request-view-0-form #request-uncancel-submit-no:active,
#mfcs-request-view-0-form #request-uncancel-submit-no:hover,
#mfcs-request-uncancel-0-form #request-uncancel-submit-no:focus,
#mfcs-request-uncancel-0-form #request-uncancel-submit-no:active,
#mfcs-request-uncancel-0-form #request-uncancel-submit-no:hover,
#mfcs-request-view-0-form #request-cancel-submit-no:focus,
#mfcs-request-view-0-form #request-cancel-submit-no:active,
#mfcs-request-view-0-form #request-cancel-submit-no:hover,
#mfcs-request-cancel-0-form #request-cancel-submit-no:focus,
#mfcs-request-cancel-0-form #request-cancel-submit-no:active,
#mfcs-request-cancel-0-form #request-cancel-submit-no:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}


/*** Re-Assign ***/
#mfcs-request-view-0-form #request-reassign-submit-yes,
#mfcs-request-reassign-0-form #request-reassign-submit-yes {
  color: #000000;
  background-color: #e86f69;
}

#mfcs-request-view-0-form #request-reassign-submit-yes:focus,
#mfcs-request-view-0-form #request-reassign-submit-yes:active,
#mfcs-request-view-0-form #request-reassign-submit-yes:hover,
#mfcs-request-reassign-0-form #request-reassign-submit-yes:focus,
#mfcs-request-reassign-0-form #request-reassign-submit-yes:active,
#mfcs-request-reassign-0-form #request-reassign-submit-yes:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}

#mfcs-request-view-0-form #request-reassign-submit-no,
#mfcs-request-reassign-0-form #request-reassign-submit-no {
  color: #000000;
  background-color: #cecece;
}

#mfcs-request-view-0-form #request-reassign-submit-no:focus,
#mfcs-request-view-0-form #request-reassign-submit-no:active,
#mfcs-request-view-0-form #request-reassign-submit-no:hover,
#mfcs-request-reassign-0-form #request-reassign-submit-no:focus,
#mfcs-request-reassign-0-form #request-reassign-submit-no:active,
#mfcs-request-reassign-0-form #request-reassign-submit-no:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}

#mfcs-request-view-0-form #request-reassign-submit-yes:disabled,
#mfcs-request-view-0-form #request-reassign-submit-yes:disabled:focus,
#mfcs-request-view-0-form #request-reassign-submit-yes:disabled:active,
#mfcs-request-view-0-form #request-reassign-submit-yes:disabled:hover {
  color: #424242;
  background-color: #d7d7d7;
  border-color: #202020;

  text-shadow: none;

  border-style: dotted;
}



/*** Search DataTable ***/
#mfcs-search_0-advanced_table_wrapper.dataTables_wrapper > table.dataTable > caption,
#mfcs-search_0-simple_table_wrapper.dataTables_wrapper > table.dataTable > caption {
  margin-top: 10px;
}

#mfcs-search_0-advanced_table_wrapper.dataTables_wrapper > .ColVis,
#mfcs-search_0-simple_table_wrapper.dataTables_wrapper > .ColVis {
  position: absolute;
  top: 5px;
  left: 0px;

  float: none;
}
