


/*** Global ***/
.mcneese #mcneese-header,
.mcneese #mcneese-bulletin-wrapper-outer,
.mcneese #mcneese-bulletin-wrapper,
.mcneese #mcneese-body,
.mcneese #mcneese-page-content {
  min-width: 600px;
}

.mcneese.is-flex_width {
  min-width: 960px;
}

.mcneese.is-flex_width #mcneese-top,
.mcneese.is-flex_width #mcneese-page,
.mcneese.is-flex_width #mcneese-bottom,
.mcneese.is-flex_width > .dev-query {
  min-width: 960px;
}

.mcneese.is-flex_width #mcneese-skip_nav:active,
.mcneese.is-flex_width #mcneese-skip_nav:focus,
.mcneese.is-flex_width #mcneese-skip_nav:hover {
  min-width: 960px;
}

.mcneese.is-flex_width #mcneese-page,
.mcneese.is-fixed_width #mcneese-page {
  margin-bottom: 16px;
}

.mcneese .mcneese-content,
.mcneese .mcneese-content-main {
  overflow-x: inherit;
}

.mcneese .html_tag-header.page-title > .html_tag-hgroup > .html_tag-heading.page-title {
  font-size: 24px;
  line-height: 28px;
}



/*** Calendar - Month/Day ***/
#mfcs-calendar-0-month > .calendar-month,
#mfcs-calendar-0-month > .links_and_filters-wrapper,
#mfcs-calendar-0-day > .calendar-day,
#mfcs-calendar-0-day > .links_and_filters-wrapper {
  width: 924px;
  min-width: 924px;
  max-width: 924px;
}

#mfcs-calendar-0-month > .calendar-month,
#mfcs-calendar-0-day > .calendar-day {
  margin: 5px auto;
}

#mfcs-calendar-0-day > .calendar-day.calendar-range_links {
  margin: 5px auto 0px auto;
}

#mfcs-calendar-0-day > .calendar-day.calendar-range {
  margin: 0px auto 5px auto;
}

#mfcs-calendar-0-month > .calendar-month > .calendar-title,
#mfcs-calendar-0-month > .calendar-month > .calendar-title > h3,
#mfcs-calendar-0-day > .calendar-day > .calendar-title,
#mfcs-calendar-0-day > .calendar-day > .calendar-title > h3 {
  font-size: 16px;
  line-height: 20px;
}

#mfcs-calendar-0-month > .links_and_filters-wrapper,
#mfcs-calendar-0-day > .links_and_filters-wrapper {
  width: 924px;
  min-width: 924px;
  max-width: 924px;

  margin: 10px auto 5px auto;
}

#mfcs-calendar-0-month-wrapper > .links_and_filters-wrapper {
  margin: 10px auto 5px auto;
}

#mfcs-calendar-0-month > .calendar-month > .calendar-navigation,
#mfcs-calendar-0-day > .calendar-day > .calendar-navigation {
  position: absolute;
  top: 5px;

  width: 924px;
  min-width: 924px;
  max-width: 924px;
}

/*** Calendar - Month/Day - Tooltips ***/
.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-unavailable > .qtip-content > .tooltip-item-building > .tooltip-item-name,
.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-unavailable > .qtip-content > .tooltip-item-room > .tooltip-item-name,
.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event > .qtip-content > .tooltip-item-building > .tooltip-item-name,
.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event > .qtip-content > .tooltip-item-room > .tooltip-item-name,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event > .qtip-content > .tooltip-item-building > .tooltip-item-name,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event > .qtip-content > .tooltip-item-room > .tooltip-item-name {
  display: inline-block;

  font-weight: bold;

  min-width: 52px;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-unavailable > .qtip-content > .tooltip-item-footer,
.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event > .qtip-content > .tooltip-item-footer,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-unavailable > .qtip-content > .tooltip-item-footer,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event > .qtip-content > .tooltip-item-footer {
  position: relative;

  font-weight: bold;

  margin-top: 10px;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-unavailable > .qtip-content > .tooltip-item-footer > .tooltip-item-unavailability_type,
.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event > .qtip-content > .tooltip-item-footer > .tooltip-item-request_type,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-unavailable > .qtip-content > .tooltip-item-footer > .tooltip-item-unavailability_type,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event > .qtip-content > .tooltip-item-footer > .tooltip-item-request_type {
  float: right;

  padding-left: 3px;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-calendar-holiday,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-calendar-holiday {
  color: #000000;
  background-color: #ffffa3;
  border-color: #b1b13e;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-calendar-holiday > .qtip-titlebar,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-calendar-holiday > .qtip-titlebar {
  color: #000000;
  background-color: #e7e793;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-unavailable,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-unavailable {
  color: #000000;
  background-color: #fff8ea;
  border-color: #ffdcab;
  border-style: dotted;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-unavailable > .qtip-titlebar,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-unavailable > .qtip-titlebar {
  color: #000000;
  background-color: #ffdcab;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-1,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-1 {
  color: #000000;
  background-color: #f9c7c7;
  border-color: #803333;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-1 > .qtip-titlebar,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-1 > .qtip-titlebar {
  color: #ffee05;
  background-color: #803333;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-2,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-2 {
  color: #000000;
  background-color: #cdcd81;
  border-color: #4d4d1f;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-2 > .qtip-titlebar,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-2 > .qtip-titlebar {
  color: #ffee05;
  background-color: #4d4d1f;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-3,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-3 {
  color: #000000;
  background-color: #aedeae;
  border-color: #265726;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-3 > .qtip-titlebar,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-3 > .qtip-titlebar {
  color: #ffee05;
  background-color: #265726;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-4,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-4 {
  color: #000000;
  background-color: #deacde;
  border-color: #7c1e7c;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-4 > .qtip-titlebar,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-4 > .qtip-titlebar {
  color: #ffee05;
  background-color: #7c1e7c;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-5,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-5 {
  color: #000000;
  background-color: #ecc3ae;
  border-color: #753c21;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-5 > .qtip-titlebar,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-5 > .qtip-titlebar {
  color: #ffee05;
  background-color: #753c21;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-6,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-6 {
  color: #000000;
  background-color: #add3e3;
  border-color: #164659;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-6 > .qtip-titlebar,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-6 > .qtip-titlebar {
  color: #ffee05;
  background-color: #164659;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-7,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-7 {
  color: #000000;
  background-color: #9ed0d0;
  border-color: #155454;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-7 > .qtip-titlebar,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-7 > .qtip-titlebar {
  color: #ffee05;
  background-color: #155454;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-8,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-8 {
  color: #000000;
  background-color: #c8c8e3;
  border-color: #33337d;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-8 > .qtip-titlebar,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-8 > .qtip-titlebar {
  color: #ffee05;
  background-color: #33337d;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-9,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-9 {
  color: #000000;
  background-color: #cddeae;
  border-color: #404f23;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-9 > .qtip-titlebar,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-9 > .qtip-titlebar {
  color: #ffee05;
  background-color: #404f23;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-10,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-10 {
  color: #000000;
  background-color: #f1b157;
  border-color: #5e3700;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-10 > .qtip-titlebar,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-10 > .qtip-titlebar {
  color: #ffee05;
  background-color: #5e3700;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-11,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-11 {
  color: #000000;
  background-color: #ee8fab;
  border-color: #830a2c;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-11 > .qtip-titlebar,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-11 > .qtip-titlebar {
  color: #ffee05;
  background-color: #830a2c;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-12,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-12 {
  color: #000000;
  background-color: #a2b9df;
  border-color: #22488a;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-12 > .qtip-titlebar,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-12 > .qtip-titlebar {
  color: #ffee05;
  background-color: #22488a;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-13,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-13 {
  color: #000000;
  background-color: #add3e3;
  border-color: #164659;
}

.mcneese > .qtip.tooltip-calendar-daily.tooltip-is-event.tooltip-type-13 > .qtip-titlebar,
.mcneese > .qtip.tooltip-calendar-monthly.tooltip-is-event.tooltip-type-13 > .qtip-titlebar {
  color: #ffee05;
  background-color: #164659;
}

/* workaround: links on opera end up unclickable */
.mcneese.agent-engine-presto #mfcs-calendar-0-day > .calendar-month > .calendar-navigation,
.mcneese.agent-engine-presto #mfcs-calendar-0-month > .calendar-month > .calendar-navigation,
.mcneese.agent-engine-presto .calendar-day-wrapper > .calendar-day > .calendar-navigation {
  z-index: 1;
}

#mfcs-calendar-0-day > .calendar-day > .calendar-navigation > .calendar-navigation-previous,
#mfcs-calendar-0-month > .calendar-month > .calendar-navigation > .calendar-navigation-previous {
  position: absolute;
  left: 0px;
}

#mfcs-calendar-0-day > .calendar-day > .calendar-navigation > .calendar-navigation-this,
#mfcs-calendar-0-month > .calendar-month > .calendar-navigation > .calendar-navigation-this {
  position: absolute;
  left: 100px;
}

#mfcs-calendar-0-day > .calendar-day > .calendar-navigation > .calendar-navigation-next,
#mfcs-calendar-0-month > .calendar-month > .calendar-navigation > .calendar-navigation-next {
  position: absolute;
  right: 0px;
}


/** Calendar - Month **/
#mfcs-calendar-0-month > .calendar-month > .calendar-header-wrapper > .calendar-header > .calendar-week-wrapper > .calendar-week > .calendar-day-wrapper {
  width: 132px;
  min-width: 132px;
  max-width: 132px;

  padding: 3px 0px;
}

#mfcs-calendar-0-month > .calendar-month > .calendar-body-wrapper > .calendar-body > .calendar-week-wrapper > .calendar-week {
  min-height: 96px;
  min-width: 924px;
}

#mfcs-calendar-0-month > .calendar-month > .calendar-body-wrapper > .calendar-body > .calendar-week-wrapper > .calendar-week > .calendar-day-wrapper {
  width: 132px;
  min-width: 132px;
  max-width: 132px;
}

#mfcs-calendar-0-month > .calendar-month > .calendar-body-wrapper > .calendar-body > .calendar-week-wrapper > .calendar-week > .calendar-day-wrapper > .calendar-day {
  min-height: 96px;

  max-width: 132px;
}

#mfcs-calendar-0-month > .calendar-month > .calendar-body-wrapper > .calendar-body > .calendar-week-wrapper > .calendar-week > .calendar-day-wrapper > .calendar-day > .calendar-item {
  padding: 2px 4px;

  font-size: 12px;
  line-height: 16px;
}


/** Calendar - Day **/
#mfcs-calendar-0-day > .calendar-day.calendar-all_day > .calendar-header-wrapper > .calendar-header > .calendar-day-wrapper > .calendar-day {
  width: 912px;
  min-width: 912px;
  max-width: 912px;
}

#mfcs-calendar-0-day > .calendar-day.calendar-all_day > .calendar-body-wrapper > .calendar-body {
  width: 912px;
  min-width: 912px;
  max-width: 912px;
}

#mfcs-calendar-0-day > .calendar-day.calendar-range > .calendar-header-wrapper > .calendar-header > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-label-wrapper,
#mfcs-calendar-0-day > .calendar-day.calendar-range > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-label-wrapper {
  width: 104px;
  min-width: 104px;
  max-width: 104px;
}

#mfcs-calendar-0-day > .calendar-day.calendar-range > .calendar-header-wrapper > .calendar-header > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper,
#mfcs-calendar-0-day > .calendar-day.calendar-range > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper {
  width: 819px;
  min-width: 819px;
  max-width: 819px;
}

#mfcs-calendar-0-day > .calendar-day.calendar-range > .calendar-header-wrapper > .calendar-header > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request,
#mfcs-calendar-0-day > .calendar-day.calendar-range > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request {
  width: 809px;
  min-width: 809px;
  max-width: 809px;
}

#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request {
  font-size: 11px;
  line-height: 15px;
}

#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper > .calendar-item > .calendar-item-time-wrapper > .calendar-item-time {
  font-size: 12px;
  font-weight: bold;
}

#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper > .calendar-item > .calendar-item-link-wrapper {
  padding: 2px 4px;
  margin-bottom: 2px;

  min-height: 15px;
  max-height: 30px;
  line-height: 15px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: no-wrap;
  word-break: break-word;

  text-align: center;

  background-color: #ececec;

  border-bottom: 2px solid #dedede;
}

#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper.constraint-height > .calendar-item > .calendar-item-link-wrapper {
  max-height: 15px;
}

#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper > .calendar-item > .calendar-item-description-wrapper,
#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper > .calendar-item > .calendar-item-time-wrapper,
#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper > .calendar-item > .calendar-item-location-wrapper,
#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper > .calendar-item > .calendar-item-type-wrapper,
#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper > .calendar-item > .calendar-item-id-wrapper {
  padding: 0px 4px;
  min-height: 16px;
  max-height: 18px;

  overflow: hidden;
  text-overflow: ellipsis;
}

#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper > .calendar-item > .calendar-item-description-wrapper {
  overflow: inherit;
}

#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper > .calendar-item > .calendar-item-location-wrapper {
  max-height: inherit;
}

#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper.slot-start.slot-stop > .calendar-item > .calendar-item-location-wrapper,
#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper.slot-start.slot-stop > .calendar-item > .calendar-item-location-wrapper > .calendar-item-location {
  max-height: 32px;
}

#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper.slot-start.slot-stop.constraint-height > .calendar-item > .calendar-item-location-wrapper,
#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper.slot-start.slot-stop.constraint-height > .calendar-item > .calendar-item-location-wrapper > .calendar-item-location {
  max-height: 16px;
}


/** Links and Filters **/
#mfcs-links_and_filters {
  position: relative;

  font-size: 12px;
  line-height: 16px;
}

#mfcs-links_and_filters > .links_and_filters-group {
  display: inline-block;
  vertical-align: top;

  margin-right: 10px;
}

#mfcs-links_and_filters > .links_and_filters-group > .links_and_filters > .links_and_filters-title {
  font-size: 14px;
  line-height: 18px;
}

#mfcs-links_and_filters > .links_and_filters-group > .links_and_filters.openpgp > .links_and_filters-list > .links_and_filters-list-item,
#mfcs-links_and_filters > .links_and_filters-group > .links_and_filters.ical > .links_and_filters-list > .links_and_filters-list-item {
  padding: 1px 0px;
}

#mfcs-links_and_filters > .links_and_filters-group > .links_and_filters.openpgp > .links_and_filters-list > .links_and_filters-list-item > .links_and_filters-list-item-label,
#mfcs-links_and_filters > .links_and_filters-group > .links_and_filters.ical > .links_and_filters-list > .links_and_filters-list-item > .links_and_filters-list-item-label {
  display: inline-block;
  min-width: 40px;
}


/*** Menu Link Adjustments ***/
.mcneese #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-wrapper-standout > a.menu_link {
  font-size: 14px;
  font-weight: bold;
  text-align: center;

  width: 80px;
  min-width: 80px;
  max-width: 80px;

  line-height: 24px;

  height: 24px;
  min-height: 24px;
  max-height: 24px;
}

.mcneese #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-wrapper-standout.menu_link-create_request-wrapper {
  max-height: 46px;
}

.mcneese #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-wrapper-standout.menu_link-create_request-wrapper > a.menu_link {
  width: 120px;
  min-width: 120px;
  max-width: 120px;

  padding-top: 15px;
  padding-bottom: 6px;

  line-height: 1em;
}

.mcneese #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-login-wrapper > a.menu_link,
.mcneese.alias-part-0-requests.alias-part-1-create_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-create_request-wrapper > a.menu_link,
.mcneese.path-requests_calendar_0_month #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-this_month-wrapper > a.menu_link,
.mcneese.path-requests_calendar_0_day #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-this_day-wrapper > a.menu_link,
.mcneese.alias-part-0-help_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-help-wrapper > a.menu_link {
  color: #00477f;
  background-color: #fad703;

  font-weight: bold;
}

.mcneese.alias-part-0-requests.alias-part-1-reviewers_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link,
.mcneese.alias-part-0-requests.alias-part-1-proxy_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link,
.mcneese.alias-part-0-requests.alias-part-1-users_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link,
.mcneese.alias-part-0-requests.alias-part-1-problems_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link,
.mcneese.alias-part-0-requests.alias-part-1-troubleshoot_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link,
.mcneese.alias-part-0-requests.alias-part-1-email_log_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link,
.mcneese.alias-part-0-requests.alias-part-1-synchronize_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link,
.mcneese.alias-part-0-requests.alias-part-1-statistics_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link,
.mcneese.alias-part-0-requests.alias-part-1-holiday_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link,
.mcneese.alias-part-0-requests.alias-part-1-unavailable_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link,
.mcneese.alias-part-0-requests.alias-part-1-management #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link {
  color: #00477f;
  background-color: #fad703;
}

.mcneese #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-login-wrapper > a.menu_link:hover,
.mcneese #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-login-wrapper > a.menu_link:active,
.mcneese #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-login-wrapper > a.menu_link:focus,
.mcneese.alias-part-0-requests.alias-part-1-create_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-create_request-wrapper > a.menu_link:hover,
.mcneese.alias-part-0-requests.alias-part-1-create_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-create_request-wrapper > a.menu_link:active,
.mcneese.alias-part-0-requests.alias-part-1-create_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-create_request-wrapper > a.menu_link:focus,
.mcneese.path-requests_calendar_0_month #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-this_month-wrapper > a.menu_link:hover,
.mcneese.path-requests_calendar_0_month #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-this_month-wrapper > a.menu_link:active,
.mcneese.path-requests_calendar_0_month #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-this_month-wrapper > a.menu_link:focus,
.mcneese.path-requests_calendar_0_day #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-this_day-wrapper > a.menu_link:hover,
.mcneese.path-requests_calendar_0_day #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-this_day-wrapper > a.menu_link:active,
.mcneese.path-requests_calendar_0_day #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-this_day-wrapper > a.menu_link:focus,
.mcneese.alias-part-0-requests.alias-part-1-help_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-help-wrapper > a.menu_link:hover,
.mcneese.alias-part-0-requests.alias-part-1-help_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-help-wrapper > a.menu_link:active,
.mcneese.alias-part-0-requests.alias-part-1-help_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-help-wrapper > a.menu_link:focus   {
  color: #ffffff;
  background-color: #00234b;

  font-weight: bold;
}

.mcneese.alias-part-0-requests.alias-part-1-reviewers_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:hover,
.mcneese.alias-part-0-requests.alias-part-1-reviewers_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:active,
.mcneese.alias-part-0-requests.alias-part-1-reviewers_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:focus,
.mcneese.alias-part-0-requests.alias-part-1-proxy_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:hover,
.mcneese.alias-part-0-requests.alias-part-1-proxy_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:active,
.mcneese.alias-part-0-requests.alias-part-1-proxy_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:focus,
.mcneese.alias-part-0-requests.alias-part-1-users_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:hover,
.mcneese.alias-part-0-requests.alias-part-1-users_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:active,
.mcneese.alias-part-0-requests.alias-part-1-users_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:focus,
.mcneese.alias-part-0-requests.alias-part-1-problems_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:hover,
.mcneese.alias-part-0-requests.alias-part-1-problems_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:active,
.mcneese.alias-part-0-requests.alias-part-1-problems_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:focus,
.mcneese.alias-part-0-requests.alias-part-1-troubleshoot_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:hover,
.mcneese.alias-part-0-requests.alias-part-1-troubleshoot_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:active,
.mcneese.alias-part-0-requests.alias-part-1-troubleshoot_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:focus,
.mcneese.alias-part-0-requests.alias-part-1-email_log_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:hover,
.mcneese.alias-part-0-requests.alias-part-1-email_log_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:active,
.mcneese.alias-part-0-requests.alias-part-1-email_log_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:focus,
.mcneese.alias-part-0-requests.alias-part-1-synchronize_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:hover,
.mcneese.alias-part-0-requests.alias-part-1-synchronize_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:active,
.mcneese.alias-part-0-requests.alias-part-1-synchronize_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:focus,
.mcneese.alias-part-0-requests.alias-part-1-statistics_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:hover,
.mcneese.alias-part-0-requests.alias-part-1-statistics_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:active,
.mcneese.alias-part-0-requests.alias-part-1-statistics_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:focus,
.mcneese.alias-part-0-requests.alias-part-1-holiday_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:hover,
.mcneese.alias-part-0-requests.alias-part-1-holiday_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:active,
.mcneese.alias-part-0-requests.alias-part-1-holiday_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:focus,
.mcneese.alias-part-0-requests.alias-part-1-unavailable_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:hover,
.mcneese.alias-part-0-requests.alias-part-1-unavailable_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:active,
.mcneese.alias-part-0-requests.alias-part-1-unavailable_0 #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:focus,
.mcneese.alias-part-0-requests.alias-part-1-management #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:hover,
.mcneese.alias-part-0-requests.alias-part-1-management #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:active,
.mcneese.alias-part-0-requests.alias-part-1-management #mcneese-header > .header-top > .header-menu-1 > .html_tag-nav > .navigation_list > .menu_link-manage_requests-wrapper > a.menu_link:focus {
  color: #ffffff;
  background-color: #00234b;
}



/*** sandbox.mcneese.edu-specific ***/
.mcneese.at-sandbox_mcneese_edu_fcs #mcneese-header #mcneese-site-logo > .site-logo {
  background-image: url(../../images/sandbox.png);
}



/*** wwwdev.mcneese.edu-specific ***/
.mcneese.at-wwwdev_mcneese_edu_fcs #mcneese-header #mcneese-site-logo > .site-logo {
  background-image: url(../../images/development.png);
}
