


/*** Review Operations ***/
#mfcs-request-view-0-form > .form-wrapper-inner > .request-section-review-operations .instructions-issues {
  margin: 6px 0px;
  padding: 4px;
  border: 1px solid #464701;

  color: #3f4001;
  background-color: #fdffc1;
}

#mfcs-request-view-0-form > .form-wrapper-inner > .request-section-review-operations .form-item-review-operations-message_is_reviewers_only {
  float: right;

  margin: 0px;
}



/*** Reviewers ***/
#mfcs-manage_reviewers > .mfcs-manage_reviewers-manage {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 460px;
  min-width: 460px;
  max-width: 460px;

  padding: 0px 5px 5px 5px;
}



/*** Dashboard ***/
#mfcs-dashboard_page-choices > .mfcs-dashboard_page-choices-list_1,
#mfcs-dashboard_page-choices > .mfcs-dashboard_page-choices-list_2,
#mfcs-dashboard_page-choices > .mfcs-dashboard_page-choices-list_3 {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 460px;
  min-width: 460px;
  max-width: 460px;

  padding: 0px 5px 5px 5px;
}

#mfcs-dashboard_page-choices > .mfcs-dashboard_page-choices-list_1 > .item-list > ul,
#mfcs-dashboard_page-choices > .mfcs-dashboard_page-choices-list_2 > .item-list > ul,
#mfcs-dashboard_page-choices > .mfcs-dashboard_page-choices-list_3 > .item-list > ul {
  margin: 0px;
  padding: 0px;
}

#mfcs-dashboard_page-choices > .mfcs-dashboard_page-choices-list_1 > .item-list > ul > li,
#mfcs-dashboard_page-choices > .mfcs-dashboard_page-choices-list_2 > .item-list > ul > li,
#mfcs-dashboard_page-choices > .mfcs-dashboard_page-choices-list_3 > .item-list > ul > li {
  min-height: 70px;
}



/*** Management ***/
#mfcs-management_page-choices > .mfcs-management_page-choices-list_1,
#mfcs-management_page-choices > .mfcs-management_page-choices-list_2,
#mfcs-management_page-choices > .mfcs-management_page-choices-list_3 {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 460px;
  min-width: 460px;
  max-width: 460px;

  padding: 0px 5px 5px 5px;
}

#mfcs-management_page-choices > .mfcs-management_page-choices-list_1 > .item-list > ul,
#mfcs-management_page-choices > .mfcs-management_page-choices-list_2 > .item-list > ul,
#mfcs-management_page-choices > .mfcs-management_page-choices-list_3 > .item-list > ul {
  margin: 0px;
  padding: 0px;
}

#mfcs-management_page-choices > .mfcs-management_page-choices-list_1 > .item-list > ul > li,
#mfcs-management_page-choices > .mfcs-management_page-choices-list_2 > .item-list > ul > li,
#mfcs-management_page-choices > .mfcs-management_page-choices-list_3 > .item-list > ul > li {
  min-height: 70px;
}



/*** View ***/
#mfcs-request-view-0-form #request-display-submit-uncancel,
#mfcs-request-view-0-form #request-display-submit-cancel,
#mfcs-request-users-0-add-form #submit-buttons-cancel,
#mfcs-request-users-0-edit-form #submit-buttons-cancel {
  color: #000000;
  background-color: #e86f69;
}

#mfcs-request-view-0-form #request-display-submit-uncancel:focus,
#mfcs-request-view-0-form #request-display-submit-uncancel:active,
#mfcs-request-view-0-form #request-display-submit-uncancel:hover,
#mfcs-request-view-0-form #request-display-submit-cancel:focus,
#mfcs-request-view-0-form #request-display-submit-cancel:active,
#mfcs-request-view-0-form #request-display-submit-cancel:hover,
#mfcs-request-users-0-add-form #submit-buttons-cancel:focus,
#mfcs-request-users-0-add-form #submit-buttons-cancel:active,
#mfcs-request-users-0-add-form #submit-buttons-cancel:hover,
#mfcs-request-users-0-edit-form #submit-buttons-cancel:focus,
#mfcs-request-users-0-edit-form #submit-buttons-cancel:active,
#mfcs-request-users-0-edit-form #submit-buttons-cancel:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}

#mfcs-request-view-0-form #request-display-submit-reassign {
  float: right;

  color: #000000;
  background-color: #e775e3;
}

#mfcs-request-view-0-form #request-display-submit-reassign:focus,
#mfcs-request-view-0-form #request-display-submit-reassign:active,
#mfcs-request-view-0-form #request-display-submit-reassign:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}

#mfcs-request-view-0-form #request-display-submit-manage {
  float: right;

  color: #000000;
  background-color: #cc9926;
}

#mfcs-request-view-0-form #request-display-submit-manage:focus,
#mfcs-request-view-0-form #request-display-submit-manage:active,
#mfcs-request-view-0-form #request-display-submit-manage:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}



/*** Cancel / Uncancel ***/
#mfcs-request-view-0-form #request-uncancel-submit-yes,
#mfcs-request-uncancel-0-form #request-uncancel-submit-yes,
#mfcs-request-view-0-form #request-cancel-submit-yes,
#mfcs-request-cancel-0-form #request-cancel-submit-yes {
  color: #000000;
  background-color: #e86f69;
}

#mfcs-request-view-0-form #request-uncancel-submit-yes:focus,
#mfcs-request-view-0-form #request-uncancel-submit-yes:active,
#mfcs-request-view-0-form #request-uncancel-submit-yes:hover,
#mfcs-request-uncancel-0-form #request-uncancel-submit-yes:focus,
#mfcs-request-uncancel-0-form #request-uncancel-submit-yes:active,
#mfcs-request-uncancel-0-form #request-uncancel-submit-yes:hover,
#mfcs-request-view-0-form #request-cancel-submit-yes:focus,
#mfcs-request-view-0-form #request-cancel-submit-yes:active,
#mfcs-request-view-0-form #request-cancel-submit-yes:hover,
#mfcs-request-cancel-0-form #request-cancel-submit-yes:focus,
#mfcs-request-cancel-0-form #request-cancel-submit-yes:active,
#mfcs-request-cancel-0-form #request-cancel-submit-yes:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}

#mfcs-request-view-0-form #request-cancel-submit-no,
#mfcs-request-cancel-0-form #request-cancel-submit-no,
#mfcs-request-view-0-form #request-uncancel-submit-no,
#mfcs-request-uncancel-0-form #request-uncancel-submit-no {
  color: #000000;
  background-color: #cecece;
}

#mfcs-request-view-0-form #request-uncancel-submit-no:focus,
#mfcs-request-view-0-form #request-uncancel-submit-no:active,
#mfcs-request-view-0-form #request-uncancel-submit-no:hover,
#mfcs-request-uncancel-0-form #request-uncancel-submit-no:focus,
#mfcs-request-uncancel-0-form #request-uncancel-submit-no:active,
#mfcs-request-uncancel-0-form #request-uncancel-submit-no:hover,
#mfcs-request-view-0-form #request-cancel-submit-no:focus,
#mfcs-request-view-0-form #request-cancel-submit-no:active,
#mfcs-request-view-0-form #request-cancel-submit-no:hover,
#mfcs-request-cancel-0-form #request-cancel-submit-no:focus,
#mfcs-request-cancel-0-form #request-cancel-submit-no:active,
#mfcs-request-cancel-0-form #request-cancel-submit-no:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}


/*** Re-Assign ***/
#mfcs-request-view-0-form #request-reassign-submit-no,
#mfcs-request-manage-0-reassign-coordinator-form #request-reassign-submit-no,
#mfcs-request-manage-0-reassign-requester-form #request-reassign-submit-cancel {
  color: #000000;
  background-color: #e86f69;
}

#mfcs-request-view-0-form #request-reassign-submit-no:focus,
#mfcs-request-view-0-form #request-reassign-submit-no:active,
#mfcs-request-view-0-form #request-reassign-submit-no:hover,
#mfcs-request-manage-0-reassign-coordinator-form #request-reassign-submit-no:focus,
#mfcs-request-manage-0-reassign-coordinator-form #request-reassign-submit-no:active,
#mfcs-request-manage-0-reassign-coordinator-form #request-reassign-submit-no:hover,
#mfcs-request-manage-0-reassign-requester-form #request-reassign-submit-cancel:focus,
#mfcs-request-manage-0-reassign-requester-form #request-reassign-submit-cancel:active,
#mfcs-request-manage-0-reassign-requester-form #request-reassign-submit-cancel:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}

#mfcs-request-view-0-form #request-reassign-submit-yes:disabled,
#mfcs-request-view-0-form #request-reassign-submit-yes:disabled:focus,
#mfcs-request-view-0-form #request-reassign-submit-yes:disabled:active,
#mfcs-request-view-0-form #request-reassign-submit-yes:disabled:hover {
  color: #424242;
  background-color: #d7d7d7;
  border-color: #202020;

  text-shadow: none;

  border-style: dotted;
}



/*** Manage Request ***/
#mfcs-request-manage-0-page {
}



/*** Override Request ***/
#mfcs-request-manage-0-override-form #request-override-submit-cancel {
  color: #000000;
  background-color: #e86f69;
}

#mfcs-request-manage-0-override-form #request-override-submit-cancel:focus,
#mfcs-request-manage-0-override-form #request-override-submit-cancel:active,
#mfcs-request-manage-0-override-form #request-override-submit-cancel:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}



/*** Override Locks ***/
#mfcs-request-manage-0-locks-form #request-lock-submit-cancel {
  color: #000000;
  background-color: #e86f69;
}

#mfcs-request-manage-0-locks-form #request-lock-submit-cancel:focus,
#mfcs-request-manage-0-locks-form #request-lock-submit-cancel:active,
#mfcs-request-manage-0-locks-form #request-lock-submit-cancel:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}



/*** Unavailability ***/
#mfcs-unavailable_0-copy-page #mfcs-unavailable-copy-submit-cancel {
  color: #000000;
  background-color: #e86f69;
}

#mfcs-unavailable_0-copy-page #mfcs-unavailable-copy-submit-cancel:focus,
#mfcs-unavailable_0-copy-page #mfcs-unavailable-copy-submit-cancel:active,
#mfcs-unavailable_0-copy-page #mfcs-unavailable-copy-submit-cancel:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}



/*** Search DataTable ***/
#mfcs-search_0-advanced_table_wrapper.dataTables_wrapper > table.dataTable > caption,
#mfcs-search_0-simple_table_wrapper.dataTables_wrapper > table.dataTable > caption {
  margin-top: 10px;
}

#mfcs-search_0-advanced_table_wrapper.dataTables_wrapper > .ColVis,
#mfcs-search_0-simple_table_wrapper.dataTables_wrapper > .ColVis {
  position: absolute;
  top: 5px;
  left: 0px;

  float: none;
}



/*** Misc Datatable ***/
.mcneese .dataTables_wrapper > .dataTable > tbody > tr > .column-operations > a {
  padding: 0px 3px;
  line-height: 1.5em;
}




/*** Holiday ***/
#mfcs-holiday-copy-submit-cancel,
#mfcs-holiday-edit-submit-cancel,
#mfcs-holiday-delete-submit-no {
  color: #000000;
  background-color: #e86f69;
}

#mfcs-holiday-copy-submit-cancel:focus,
#mfcs-holiday-copy-submit-cancel:active,
#mfcs-holiday-copy-submit-cancel:hover,
#mfcs-holiday-edit-submit-cancel:focus,
#mfcs-holiday-edit-submit-cancel:active,
#mfcs-holiday-edit-submit-cancel:hover,
#mfcs-holiday-delete-submit-no:focus,
#mfcs-holiday-delete-submit-no:active,
#mfcs-holiday-delete-submit-no:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}

#mfcs-holiday_page-view .operation-wrapper {
  display: inline-block;
  vertical-align: top;
}

#mfcs-holiday_page-view .operation-wrapper-edit {
  float: left;

  margin-right: 8px;
}

#mfcs-holiday_page-view .operation-wrapper-delete {
  float: right;

  margin-left: 8px;
}



/*** Problems ***/
#mfcs-request-problems-0-request-form #request_problems-submit-back {
  color: #000000;
  background-color: #e86f69;
}

#mfcs-request-problems-0-request-form #request_problems-submit-back:focus,
#mfcs-request-problems-0-request-form #request_problems-submit-back:active,
#mfcs-request-problems-0-request-form #request_problems-submit-back:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}

#mfcs-request-problems-0-request-form #request_problems-submit {
  margin: 15px 5px 5px 5px;
}

#mfcs-request-problems-0-request-form #request_problems-submit > .form-submit {
  margin: 0px 10px;
}



/*** Users ***/
#mfcs-request-users-view-page > .view_user-buttons > .view_user-button,
#mfcs-request-users-view-page > .view_user-buttons > .view_user-button:visited {
  display: inline-block;

  color: #00477f;
  background-color: #fad703;

  font-family: "Lucida Grande",Verdana,sans-serif;
  font-size: 11px;
  line-height: 15px;
  font-weight: bold;

  text-align: center;
  text-decoration: none;
  text-shadow: 0px 0px 2px #fefefe;

  margin: 1px 3px;
  padding: 3px 4px;

  border: 1px outset #333333;
  border-radius: 3px 3px 3px 3px;

  cursor: pointer;

  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
}

#mfcs-request-users-view-page > .view_user-buttons > .view_user-check,
#mfcs-request-users-view-page > .view_user-buttons > .view_user-check:visited  {
  color: #000000;
  background-color: #99b2ee;
}

#mfcs-request-users-view-page > .view_user-buttons {
  margin: 5px 0px;
}

#mfcs-request-users-view-page > .view_user-buttons > .view_user-button:active,
#mfcs-request-users-view-page > .view_user-buttons > .view_user-button:focus,
#mfcs-request-users-view-page > .view_user-buttons > .view_user-button:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}

#mfcs-request-users-view-page > .view_user-buttons > .view_user-button:active {
  border: 1px inset #333333;
}




/*** Room Unavailability ***/
#mfcs-unavailable_0-create-page #mfcs-unavailable-edit-submit-cancel,
#mfcs-unavailable_0-edit-page #mfcs-unavailable-edit-submit-cancel,
#mfcs-unavailable_0-copy-page #mfcs-unavailable-edit-submit-cancel,
#mfcs-unavailable_0-delete-page #mfcs-unavailable-delete-submit-no {
  color: #000000;
  background-color: #e86f69;
}

#mfcs-request-unavailable-0-create-form #mfcs-unavailable-edit-submit-cancel:focus,
#mfcs-request-unavailable-0-create-form #mfcs-unavailable-edit-submit-cancel:active,
#mfcs-request-unavailable-0-create-form #mfcs-unavailable-edit-submit-cancel:hover,
#mfcs-request-unavailable-0-edit-form #mfcs-unavailable-edit-submit-cancel:focus,
#mfcs-request-unavailable-0-edit-form #mfcs-unavailable-edit-submit-cancel:active,
#mfcs-request-unavailable-0-edit-form #mfcs-unavailable-edit-submit-cancel:hover,
#mfcs-request-unavailable-0-copy-form #mfcs-unavailable-edit-submit-cancel:focus,
#mfcs-request-unavailable-0-copy-form #mfcs-unavailable-edit-submit-cancel:active,
#mfcs-request-unavailable-0-copy-form #mfcs-unavailable-edit-submit-cancel:hover,
#mfcs-request-unavailable-0-delete-form #mfcs-unavailable-delete-submit-no:focus,
#mfcs-request-unavailable-0-delete-form #mfcs-unavailable-delete-submit-no:active,
#mfcs-request-unavailable-0-delete-form #mfcs-unavailable-delete-submit-no:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}

#mfcs-unavailable_0-view-page .operation-wrapper {
  display: inline-block;
  vertical-align: top;
}

#mfcs-unavailable_0-view-page .operation-wrapper-edit {
  float: left;

  margin-right: 8px;
}

#mfcs-unavailable_0-view-page .operation-wrapper-delete {
  float: right;

  margin-left: 8px;
}



/*** Troubleshoot ***/
#mfcs-request-troubleshoot-0-locations-edit-name-form > .form-wrapper-inner > .locations-edit_name-submit > .form-submit.submit-cancel {
  color: #000000;
  background-color: #e86f69;
}

#mfcs-request-troubleshoot-0-locations-edit-name-form > .form-wrapper-inner > .locations-edit_name-submit > .form-submit.submit-cancel:focus,
#mfcs-request-troubleshoot-0-locations-edit-name-form > .form-wrapper-inner > .locations-edit_name-submit > .form-submit.submit-cancel:active,
#mfcs-request-troubleshoot-0-locations-edit-name-form > .form-wrapper-inner > .locations-edit_name-submit > .form-submit.submit-cancel:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}



/*** Move Request ***/
#mfcs-request-manage-0-move-form {
  position: relative;
}

#mfcs-request-manage-0-move-form #request-move-submit {
  margin-top: 10px;
}

#mfcs-request-manage-0-move-form #request-move-submit > .form-submit {
  margin-right: 15px;
}

#mfcs-request-manage-0-move-form #request-move-submit > .form-submit.submit-cancel {
  color: #000000;
  background-color: #e86f69;
}

#mfcs-request-manage-0-move-form #request-move-submit > .form-submit.submit-cancel:focus,
#mfcs-request-manage-0-move-form #request-move-submit > .form-submit.submit-cancel:active,
#mfcs-request-manage-0-move-form #request-move-submit > .form-submit.submit-cancel:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}



/*** Cancelling Request Dates ***/
#mfcs-request-cancelling-0-form #cancelling-cancel {
  color: #000000;
  background-color: #e86f69;
}

#mfcs-request-cancelling-0-form #cancelling-cancel:focus,
#mfcs-request-cancelling-0-form #cancelling-cancel:active,
#mfcs-request-cancelling-0-form #cancelling-cancel:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}



/*** Help ***/
#mfcs-section-help-main.section-help-presentation-single .section-help > .help-headers > .help-headers_group > .section {
  margin-top: 2em;
}

#mfcs-section-help-main.section-help-presentation-single .section-help:first-of-type > .help-headers > .help-headers_group > .section {
  margin-top: 4px;
}

#mfcs-section-help-main.section-help-presentation-single .section-help.no_first_of_type:first-of-type > .help-headers > .help-headers_group > .section {
  margin-top: 2em;
}



/*** Request Listing and Other Datatables Listings ***/
#mfcs-list_0-requests > tbody > tr > .column-date > .item-date.item-date-hidden {
  display: none;
}

#mfcs-list_0-requests > tbody > tr > .column-date > .item-date-visibility-toggle {
  color: #00477f;
  text-decoration: underline;
}

#mfcs-list_0-requests > tbody > tr > .column-date > .item-date-visibility-toggle:focus,
#mfcs-list_0-requests > tbody > tr > .column-date > .item-date-visibility-toggle:active,
#mfcs-list_0-requests > tbody > tr > .column-date > .item-date-visibility-toggle:hover {
  color: #0591ff;

  cursor: pointer;
}

#mfcs-list_0-requests > tbody > tr.child > td.child > ul > li > .dtr-data > .item-date-visibility-toggle {
  display: none;
}

#mfcs-holiday_form > tbody > tr > .column-operations > .item-operations,
#mfcs-email_log_form > tbody > tr > .column-operations > .item-operations,
#mfcs-list_0-requests > tbody > tr > .column-operations > .item-operations {
  display: inline-block;
  vertical-align: top;

  margin-bottom: 6px;
  padding-right: 8px;
}

#mfcs-holiday_form > tbody > tr > .column-operations > .item-operations:last-of-type,
#mfcs-email_log_form > tbody > tr > .column-operations > .item-operations:last-of-type,
#mfcs-list_0-requests > tbody > tr > .column-operations > .item-operations:last-of-type {
  margin-bottom: 0px;
  padding-right: 0px;
}

#mfcs-holiday_form > tbody > tr.child > td.child > ul > li > .dtr-data > .item-operations,
#mfcs-email_log_form > tbody > tr.child > td.child > ul > li > .dtr-data > .item-operations,
#mfcs-list_0-requests > tbody > tr.child > td.child > ul > li > .dtr-data > .item-operations {
  margin-bottom: 8px;
}

#mfcs-holiday_form > tbody > tr.child > td.child > ul > li > .dtr-data > .item-operations:last-of-type,
#mfcs-email_log_form > tbody > tr.child > td.child > ul > li > .dtr-data > .item-operations:last-of-type,
#mfcs-list_0-requests > tbody > tr.child > td.child > ul > li > .dtr-data > .item-operations:last-of-type {
  margin-bottom: 0px;
}



/*** Datatables @media Replacements ***/
@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length {
    float: left;
    text-align: inherit;
  }
  .dataTables_wrapper .dataTables_filter {
    float: right;
    margin-top: 0px;
  }
}
