


/*** Create/Edit ***/
#mfcs-request-create-0-form .form-item-wrapper,
#mfcs-request-edit-0-form .form-item-wrapper {
  margin: 8px 0px;
}

#mfcs-request-create-0-form .form-item-wrapper > .form-type-radios > .form-radios > .form-type-radio,
#mfcs-request-edit-0-form .form-item-wrapper > .form-type-radios > .form-radios > .form-type-radio {
  margin: 6px 0px;
}


/** Room **/
#mfcs-request-create-0-form #field-request-room > .form-item > .form-item-delta > .form-item,
#mfcs-request-edit-0-form #field-request-room > .form-item > .form-item-delta > .form-item {
  width: 460px;

  min-height: 48px;

  border: 1px outset;
  padding: 4px;
  margin: 2px;
}

#mfcs-request-create-0-form #field-request-room > .form-item > .form-item-delta > .form-item > .form-radio,
#mfcs-request-edit-0-form #field-request-room > .form-item > .form-item-delta > .form-item > .form-radio {
  width: 16px;
  min-width: 16px;
  max-width: 16px;

  margin: 2px;
}

#mfcs-request-create-0-form #field-request-room > .form-item > .form-item-delta > .form-item > label,
#mfcs-request-edit-0-form #field-request-room > .form-item > .form-item-delta > .form-item > label {
  width: 440px;
  min-width: 440px;
  max-width: 440px;
}


/** Dates **/
#mfcs-request-create-0-form #group-request-dates-date > .group-field-container > .field-request-item,
#mfcs-request-edit-0-form #group-request-dates-date > .group-field-container > .field-request-item {
  margin: 4px;
}

#mfcs-request-create-0-form #group-request-dates-date > .group-field-container > .buttons-request-remove-date,
#mfcs-request-edit-0-form #group-request-dates-date > .group-field-container > .buttons-request-remove-date {
  margin: 22px 12px;
}


/** Venue Coordinator **/
#mfcs-request-create-0-form #section-request-venue_coordinator > .fieldset-wrapper > .form-wrapper,
#mfcs-request-edit-0-form #section-request-venue_coordinator > .fieldset-wrapper > .form-wrapper {
  margin: 4px;
}


/** Request Coordinator **/
#mfcs-request-create-0-form #section-request-request_coordinator > .fieldset-wrapper > .form-wrapper,
#mfcs-request-edit-0-form #section-request-request_coordinator > .fieldset-wrapper > .form-wrapper {
  margin: 4px;
}


/** Information **/
#mfcs-request-create-0-form #section-request-information > .fieldset-wrapper > .form-wrapper,
#mfcs-request-edit-0-form #section-request-information > .fieldset-wrapper > .form-wrapper {
  margin: 4px;
}



/*** View ***/
#mfcs-request-view-0-page .request-section-display,
#mfcs-request-view-0-page .request-section-review-operations,
#mfcs-request-view-0-page .request-section-review-log {
  min-width: 960px;

  padding: 5px 0px;
  border-width: 0px;
  border-top-width: 1px;
}

#mfcs-request-view-0-page #request-review-log,
#mfcs-request-view-0-page #request-review-operations {
  font-size: 20px;
  line-height: 24px;
}

#mfcs-request-view-0-page .request-section-review {
  margin: 10px 0px;
}

#mfcs-request-view-0-page .request-section-review-log > .fieldset-wrapper,
#mfcs-request-view-0-page .request-section-review-operations > .fieldset-wrapper {
  width: 960px;
  min-width: 960px;
  max-width: 960px;

  margin: 0px auto;
}

#mfcs-request-view-0-page .request-section-review-operations > .fieldset-wrapper > .requirements {
  margin: 10px 0px;
}

#mfcs-request-view-0-page .request-section-review-operations > .fieldset-wrapper > .request-section-review-operations-as_reviewer > .request-section-review-operations-as_reviewer-message {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;

  margin: 10px 0px 5px 0px;
}

#mfcs-request-view-0-page .request-field_groups {
  margin: 0px auto;

  width: 960px;
  min-width: 960px;
  max-width: 960px;
}

#mfcs-request-view-0-page .request-field_groups > .group {
  margin: 10px 0px;
}

#mfcs-request-view-0-page .request-field_groups > .group > .section-request {
  width: 478px;
  min-width: 478px;
  max-width: 478px;

  min-height: 200px;

  margin: 5px;
  border: 1px outset;
}

#mfcs-request-view-0-page .request-field_groups > .group > .section-request > .section-request-label-wrapper {
  padding: 0px 5px;
  margin: 0px;
}

#mfcs-request-view-0-page .request-field_groups > .group > .section-request > .section-request-label-wrapper > .section-request-ical,
#mfcs-request-view-0-page .request-field_groups > .group > .section-request > .section-request-label-wrapper > .section-request-agreement,
#mfcs-request-view-0-page .request-field_groups > .group > .section-request > .section-request-label-wrapper > .section-request-history,
#mfcs-request-view-0-page .request-field_groups > .group > .section-request > .section-request-label-wrapper > .section-request-edit,
#mfcs-request-view-0-page .request-field_groups > .group > .section-request > .section-request-label-wrapper > .section-request-clone {
  padding-left: 6px;
}

#mfcs-request-view-0-page .request-field_groups > .group > .section-request > .item-request {
  min-height: 18px;

  padding: 10px 5px 5px 5px;
}

#mfcs-request-view-0-page .request-display-submit {
  width: 960px;
  min-width: 960px;
  max-width: 960px;

  margin: 5px auto;
}

#mfcs-request-view-0-page .request-section-review-log-submit,
#mfcs-request-view-0-page .request-section-review-operations-submit {
  margin: 5px 0px;
}

#mfcs-request-view-0-page .request-section-review-log-history > .fieldset-wrapper > .review-item {
  margin: 10px 0px;
}

#mfcs-request-view-0-page .request-section-review-log-history > .review-item {
  margin: 10px auto;
}

#mfcs-request-view-0-page .request-section-review-log-history > .review-item > .review-item-label {
  padding: 5px;
}

#mfcs-request-view-0-page .request-section-review-log-history > .review-item > .review-item-label > .review-item-label-text,
#mfcs-request-view-0-page .request-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-label > .review-item-label-text {
  max-width: 740px;

  font-size: 14px;
  line-height: 18px;
}

#mfcs-request-view-0-page .request-section-review-log-history > .review-item > .review-item-label > .review-item-label-text > .review-item-label-text-title,
#mfcs-request-view-0-page .request-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-label > .review-item-label-text > .review-item-label-text-title {
  display: inline;
}

#mfcs-request-view-0-page .request-section-review-log-history > .review-item > .review-item-label > .review-item-label-text > .review-item-label-text-row,
#mfcs-request-view-0-page .request-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-label > .review-item-label-text > .review-item-label-text-row {
  font-size: 10px;
  line-height: 14px;
}

#mfcs-request-view-0-page .request-section-review-log-history > .review-item > .review-item-label > .review-item-label-text > .review-item-label-text-title > .updater_id,
#mfcs-request-view-0-page .request-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-label > .review-item-label-text > .review-item-label-text-title > .updater_id {
  font-size: 9px;
}


#mfcs-request-view-0-page .request-section-review-log-history > .review-item > .review-item-message,
#mfcs-request-view-0-page .request-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-message {
  min-height: 18px;

  padding: 5px;
}

#mfcs-request-view-0-page .request-section-review-log-history > .review-item > .review-item-message > .review-item-message-requirements,
#mfcs-request-view-0-page .request-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-message > .review-item-message-requirements {
  padding: 3px 0px 0px 0px;
}



/*** Facilities Use Agreement ***/
#mfcs-request-agreement,
.mcneese.alias-part-1-agreement_0.alias-part-3-pdf #mcneese-page-content > .page-title {
  width: 960px;
  min-width: 960px;
  max-width: 960px;
}

#mfcs-request-agreement > .agreement-header {
  padding-bottom: 5px;
  border-bottom: 3px solid #000000;
  margin-bottom: 5px;
}

#mfcs-request-agreement > .agreement-header > .agreement-header-address {
  padding-top: 10px;
}

#mfcs-request-agreement > .agreement-header > .agreement-header-address > .agreement-header-address-line-0 {
  font-size: 16px;
  line-height: 20px;
}

#mfcs-request-agreement > .agreement-header > .agreement-header-information {
  top: 10px;
  right: 10px;
}

#mfcs-request-agreement > .agreement-header > .agreement-header-information > .agreement-header-date > .agreement-header-date-label,
#mfcs-request-agreement > .agreement-header > .agreement-header-information > .agreement-header-request_id > .agreement-header-request_id-label {
  min-width: 90px;
}

#mfcs-request-agreement > .agreement-table {
  width: 940px;
  min-width: 940px;
  max-width: 940px;

  margin: 10px 10px 0px 10px;
}

#mfcs-request-agreement > .agreement-table > .agreement-table-header > .agreement-table-header-row > .agreement-table-header-cell {
  padding: 2px 4px;
}

#mfcs-request-agreement > .agreement-table > .agreement-table-header > .agreement-table-header-row > .column-1,
#mfcs-request-agreement > .agreement-table > .agreement-table-header > .agreement-table-header-row > .column-2 {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}

#mfcs-request-agreement > .agreement-table > .agreement-table-body > .agreement-table-body-row > .agreement-table-body-row-cell {
  padding: 2px 4px;
}

#mfcs-request-agreement > .agreement-table > .agreement-table-body > .agreement-table-body-row > .column-0 > .item-value {
  padding-left: 16px;
}

#mfcs-request-agreement > .agreement-table > .agreement-table-body > .agreement-table-body-row > .column-1,
#mfcs-request-agreement > .agreement-table > .agreement-table-body > .agreement-table-body-row > .column-2 {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}

#mfcs-request-agreement > .agreement-amount_due {
  width: 210px;
  min-width: 210px;
  max-width: 210px;

  margin-left: 742px;
  margin-right: 8px;
}

#mfcs-request-agreement > .agreement-amount_due > .agreement-amount_due-label {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}

#mfcs-request-agreement > .agreement-amount_due > .agreement-amount_due-value {
  width: 106px;
  min-width: 106px;
  max-width: 106px;
}

#mfcs-request-agreement > .agreement-signature {
  margin: 10px;
}

#mfcs-request-agreement > .agreement-signature > .agreement-signature-field {
  margin: 10px 0px;
}

#mfcs-request-agreement > .agreement-signature > .agreement-signature-field > .agreement-signature-field-label {
  min-width: 100px;
}

#mfcs-request-agreement > .agreement-signature > .agreement-signature-field > .agreement-signature-field-input {
  width: 400px;
  min-width: 400px;
  max-width: 400px;
}

#mfcs-request-agreement #agreement-submit {
  margin: 10px;
}



/*** Breadcrumb ***/
.mcneese #mcneese-breadcrumb.relative > .navigation_list > .crumb-request_id {
  display: inline-block;

  vertical-align: top;

  font-weight: bold;

  padding: 3px;

  float: right;
}

.mcneese #mcneese-breadcrumb.fixed > .navigation_list > .crumb-request_id {
  display: block;

  color: #ffffff;
  background-color: #005a92;
  text-decoration: none;

  width: 100%;
  height: 100%;

  min-width: 160px;
  max-width: 350px;

  padding: 4px 8px;

  border-width: 0px 1px;
  border-style: outset;
  border-color: #00335b;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
