


/*** Reviewers ***/
#mfcs-manage_reviewers > .mfcs-manage_reviewers-manage {
  display: inline-block;
  vertical-align: top;

  width: 460px;
  min-width: 460px;
  max-width: 460px;

  padding: 0px 5px 5px 5px;
}



/*** Management ***/
#mfcs-management_page-choices > .mfcs-management_page-choices-list_1,
#mfcs-management_page-choices > .mfcs-management_page-choices-list_2,
#mfcs-management_page-choices > .mfcs-management_page-choices-list_3 {
  display: inline-block;
  vertical-align: top;

  width: 460px;
  min-width: 460px;
  max-width: 460px;

  padding: 0px 5px 5px 5px;
}

#mfcs-management_page-choices > .mfcs-management_page-choices-list_1 > .item-list > ul,
#mfcs-management_page-choices > .mfcs-management_page-choices-list_2 > .item-list > ul,
#mfcs-management_page-choices > .mfcs-management_page-choices-list_3 > .item-list > ul {
  margin: 0px;
}

#mfcs-management_page-choices > .mfcs-management_page-choices-list_1 > .item-list > ul > li,
#mfcs-management_page-choices > .mfcs-management_page-choices-list_2 > .item-list > ul > li,
#mfcs-management_page-choices > .mfcs-management_page-choices-list_3 > .item-list > ul > li {
  min-height: 70px;
}



/*** View ***/
#mfcs-event-view-0-page #event-display-submit-uncancel,
#mfcs-event-view-0-page #event-display-submit-cancel {
  color: #000000;
  background-color: #e86f69;
}

#mfcs-event-view-0-page #event-display-submit-uncancel:focus,
#mfcs-event-view-0-page #event-display-submit-uncancel:active,
#mfcs-event-view-0-page #event-display-submit-uncancel:hover,
#mfcs-event-view-0-page #event-display-submit-cancel:focus,
#mfcs-event-view-0-page #event-display-submit-cancel:active,
#mfcs-event-view-0-page #event-display-submit-cancel:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}



/*** Cancel / Uncancel ***/
#mfcs-event-view-0-page #event-uncancel-submit-yes,
#mfcs-event-uncancel-0-form #event-uncancel-submit-yes,
#mfcs-event-view-0-page #event-cancel-submit-yes,
#mfcs-event-cancel-0-form #event-cancel-submit-yes {
  color: #000000;
  background-color: #e86f69;
}

#mfcs-event-view-0-page #event-uncancel-submit-yes:focus,
#mfcs-event-view-0-page #event-uncancel-submit-yes:active,
#mfcs-event-view-0-page #event-uncancel-submit-yes:hover,
#mfcs-event-uncancel-0-form #event-uncancel-submit-yes:focus,
#mfcs-event-uncancel-0-form #event-uncancel-submit-yes:active,
#mfcs-event-uncancel-0-form #event-uncancel-submit-yes:hover,
#mfcs-event-view-0-page #event-cancel-submit-yes:focus,
#mfcs-event-view-0-page #event-cancel-submit-yes:active,
#mfcs-event-view-0-page #event-cancel-submit-yes:hover,
#mfcs-event-cancel-0-form #event-cancel-submit-yes:focus,
#mfcs-event-cancel-0-form #event-cancel-submit-yes:active,
#mfcs-event-cancel-0-form #event-cancel-submit-yes:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}

#mfcs-event-view-0-page #event-cancel-submit-no,
#mfcs-event-cancel-0-form #event-cancel-submit-no,
#mfcs-event-view-0-page #event-uncancel-submit-no,
#mfcs-event-uncancel-0-form #event-uncancel-submit-no {
  color: #000000;
  background-color: #cecece;
}

#mfcs-event-view-0-page #event-uncancel-submit-no:focus,
#mfcs-event-view-0-page #event-uncancel-submit-no:active,
#mfcs-event-view-0-page #event-uncancel-submit-no:hover,
#mfcs-event-uncancel-0-form #event-uncancel-submit-no:focus,
#mfcs-event-uncancel-0-form #event-uncancel-submit-no:active,
#mfcs-event-uncancel-0-form #event-uncancel-submit-no:hover,
#mfcs-event-view-0-page #event-cancel-submit-no:focus,
#mfcs-event-view-0-page #event-cancel-submit-no:active,
#mfcs-event-view-0-page #event-cancel-submit-no:hover,
#mfcs-event-cancel-0-form #event-cancel-submit-no:focus,
#mfcs-event-cancel-0-form #event-cancel-submit-no:active,
#mfcs-event-cancel-0-form #event-cancel-submit-no:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}
