


/*** Global ***/
.mcneese .table_listing-navigator-bottom,
.mcneese .request-listing-page-navigator-bottom,
.mcneese .request-email_log-page-navigator-bottom,
.mcneese .request-history-page-navigator,
#search-simple-results-navigation,
#search-advanced-results-navigation {
  position: relative;

  min-height: 1.4em;

  margin: 5px 0px;
}

.mcneese.script .table_listing-navigator {
  display: none;
}

.mcneese .table_listing-navigator-top,
.mcneese .request-listing-page-navigator-top,
.mcneese .request-email_log-page-navigator-top {
  position: relative;
}

.mcneese .table_listing-navigator > .table_listing-choice,
.mcneese .request-listing-page-navigator > .request-listing-page-choice,
.mcneese .request-email_log-page-navigator > .request-email_log-page-choice,
.mcneese .request-history-page-navigator > .request-history-page-choice,
#search-simple-results-navigation > .search-simple-results-navigation-choice,
#search-advanced-results-navigation > .search-advanced-results-navigation-choice {
  display: inline-block;
  position: absolute;
  vertical-align: top;
}

.mcneese .table_listing-navigator-bottom > .table_listing-choice-previous {
  position: relative;

  margin-right: 1.4em;
}

.mcneese .table_listing-navigator > .table_listing-choice-previous,
.mcneese .request-listing-page-navigator > .request-listing-page-previous,
.mcneese .request-email_log-page-navigator > .request-email_log-page-previous,
.mcneese .request-history-page-navigator > .request-history-page-previous,
#search-simple-results-navigation > .search-simple-results-navigation-previous,
#search-advanced-results-navigation > .search-advanced-results-navigation-previous {
  left: 0px;
}

.mcneese .table_listing-navigator > .table_listing-choice-next,
.mcneese .request-reviewers-page-navigator > .request-reviewers-page-next,
.mcneese .request-email_log-page-navigator > .request-email_log-page-next,
.mcneese .request-history-page-navigator > .request-history-page-next,
#search-simple-results-navigation > .search-simple-results-navigation-next,
#search-advanced-results-navigation > .search-advanced-results-navigation-next {
  right: 0px;
}

.mcneese .table_listing-navigator > .table_listing-comment {
  display: inline-block;
  vertical-align: top;
}

.mcneese .table_listing-navigator > .table_listing-comment + .table_listing-next {
  clear: both;
}

.mcneese #edit-simple-results > .table_listing-comment,
.mcneese #edit-advanced-results > .table_listing-comment {
  margin-top: 5px;
}



/*** Search ***/
#mfcs-request-search-0-form #search-simple-fieldset > .fieldset-wrapper {
  position: relative;
}

#mfcs-request-search-0-form #search-simple-fieldset > .fieldset-wrapper > .search-simple-field-text {
  margin-top: 0px;
}

#mfcs-request-search-0-form #search-simple-fieldset > .fieldset-wrapper > .search-simple-field-sensitive {
  position: absolute;
  top: -0.5em;
  right: 0px;

  margin: 8px;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper {
  position: relative;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper > .search-advanced-field-sensitive {
  position: absolute;
  top: -1.5em;
  right: 0px;

  margin: 8px;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-targets {
  margin: 0px 0px 0px 0px;
  padding: 3px 6px;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-search,
#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-targets {
  margin: 0px 0px 12px 0px;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-search > fieldset,
#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-targets > fieldset {

}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-search > fieldset:not(.collapsed),
#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-targets > fieldset:not(.collapsed) {
  border: 2px groove;

  background-color: #e6efff;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-search > .form-item > .fieldset-wrapper > .form-item,
#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-targets > .form-item > .fieldset-wrapper > .form-item {
  display: inline-block;
  vertical-align: top;

  margin: 8px;
}

#mfcs-request-search-0-form #search-advanced-search-controls-manage {
  margin: 8px;
}

#mfcs-request-search-0-form #search-advanced-search-controls-manage.collapsed {
  border: 0px none;
}

#mfcs-request-search-0-form #search-advanced-search-controls-manage:not(.collapsed) {
  background-color: #f0f0f0;
}

#mfcs-request-search-0-form #search-advanced-search-controls > legend > .fieldset-legend,
#mfcs-request-search-0-form #search-advanced-search-controls-manage > legend > .fieldset-legend {
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-search {
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-target {
  display: inline-block;
  vertical-align: top;

  margin: 8px;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-target > .search-advanced-target-wrapper {
  display: inline-block;
  vertical-align: top;

  background-color: #ffffc0;

  margin: 4px;
  padding: 4px;
  border: 2px ridge;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-target > .search-advanced-target-wrapper > legend > .fieldset-legend {
  font-weight: bold;

  background: inherit;
  padding: 0px;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-targets {
  border: 2px ridge;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper > .search-advanced-targets .search-advanced-targets {
  display: inline-block;
  vertical-align: top;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-search-controls-grouping-explanation {
  min-height: 64px;
}

#mfcs-request-search-0-form #search-advanced-search-controls-manage > .fieldset-wrapper > .search-advanced-search-controls-manage-existing,
#mfcs-request-search-0-form #search-advanced-search-controls-manage > .fieldset-wrapper > .search-advanced-search-controls-manage-new {
  display: inline-block;
  vertical-align: top;

  margin: 8px;
}

#mfcs-request-search-0-form #search-simple-submit-clear,
#mfcs-request-search-0-form #search-advanced-submit-clear,
#mfcs-request-search-0-form #search-advanced-submit-reset,
#mfcs-request-reviewers-0-form #submit-reviewer-recheck {
  color: #000000;
  background-color: #99b2ee;
}

#mfcs-request-delete-0-form #request-delete-submit-no,
#mfcs-request-delete-0-form #request-delete-submit-no:visited {
  color: #000000;
  background-color: #cecece;
}

#mfcs-request-delete-0-form #request-delete-submit-yes,
#mfcs-request-delete-0-form #request-delete-submit-yes:visited {
  color: #000000;
  background-color: #e86f69;
}

#mfcs-request-search-0-form #search-simple-submit-clear:focus,
#mfcs-request-search-0-form #search-advanced-submit-clear:focus,
#mfcs-request-search-0-form #search-advanced-submit-reset:focus,
#mfcs-request-delete-0-form #request-delete-submit-no:focus,
#mfcs-request-delete-0-form #request-delete-submit-yes:focus,
#mfcs-request-search-0-form #search-simple-submit-clear:hover,
#mfcs-request-search-0-form #search-advanced-submit-clear:hover,
#mfcs-request-search-0-form #search-advanced-submit-reset:hover,
#mfcs-request-delete-0-form #request-delete-submit-no:hover,
#mfcs-request-delete-0-form #request-delete-submit-yes:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333
}

#mfcs-request-search-0-form #search-simple-submit-clear:active,
#mfcs-request-search-0-form #search-advanced-submit-clear:active,
#mfcs-request-search-0-form #search-advanced-submit-reset:active,
#mfcs-request-delete-0-form #request-delete-submit-no:active,
#mfcs-request-delete-0-form #request-delete-submit-yes:active {
  background: #666666;
  color: #ffffff;
  border: 1px inset #555555;
  text-shadow: #222222 0px -1px 0px;
}



/*** History ***/
#mfcs-request-history-0-form > .form-wrapper-inner > .history_items {
  margin-bottom: 15px;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > legend > .fieldset-legend > .fieldset-title {
  display: inline-block;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > legend > .fieldset-legend > .history_items-title,
#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > legend > .fieldset-legend > .fieldset-title > .history_items-title {
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 1px;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > legend > .fieldset-legend > .summary {
  display: none;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-view_revision-link {
  display: inline-block;
  vertical-align: top;

  float: right;
  clear: both;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-label {
  margin: 10px 0px 0px 0px;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-label:first-of-type {
  margin: 0px;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-values > .history_item-value .item-label {
  margin: 5px 0px 0px 0px;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-label .updater_id {
  font-size: 9px;
  vertical-align: top;
  letter-spacing: 1px;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-values > .history_item-value .updater_name,
#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-values > .history_item-value .field_group,
#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-values > .history_item-value .field_name {
  text-transform: capitalize;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-values > .history_item-value {
  margin-left: 20px;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-values > .history_item-value .item-value {
  margin-left: 20px;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-deleted {
  border: 1px inset;
  padding: 4px;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-message,
#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-signature {
  margin: 0px 0px 0px 20px;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-message {
  margin-top: 5px;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-signature {
  margin-right: 20px;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-message > .history_item-message-preserved,
#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-signature > .fieldset-wrapper > .history_item-signature-preserved {
  margin: 0px 0px 8px 0px;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-message > .history_item-message-preserved {
  font-size: 12px;
  line-height: 16px;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-signature > .fieldset-wrapper > .history_item-signature-preserved {
  font-size: 10px;
  line-height: 12px;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-values > .history_item-value .item-value.item-cancelled > .item-link {
  text-decoration: line-through;
}



/*** Statistics ***/
#mfcs-statistics-page {
  margin: 0px 5px;
}

#mfcs-statistics-page > .statistics-title {
  display: inline-block;
  vertical-align: top;

  width: 950px;
  min-width: 950px;
  max-width: 950px;

  margin: 0px auto;
}

#mfcs-statistics-page > .statistics-title > .statistics-title-text > .statistics-title-text-note {
  font-size: 14px;
}

#mfcs-statistics-page > .statistics-block {
  width: 950px;

  margin-left: auto;
  margin-right: auto;
}

#mfcs-statistics-page > .statistics-block > .statistics-block-chart,
#mfcs-statistics-page > .statistics-block > .statistics-block-text {
  display: inline-block;
  vertical-align: top;

  width: 470px;
  min-width: 470px;
  max-width: 470px;
}

#mfcs-statistics-page > .statistics-block > .statistics-block-text {
  margin-top: 1em;
}

#mfcs-statistics-page > .statistics-block > .statistics-block-text > .statistics-block-text-item {
  padding: 3px 0px;
}

#mfcs-statistics-page > .statistics-block > .statistics-block-text > .statistics-block-text-item-created {
  margin-bottom: 1em;
}



/*** E-mail Log Page ***/
#mfcs-request-email_log-0-page pre {
  margin: 0px;

  word-wrap: break-word;
  word-break: break-all;

  white-space: pre-wrap;
  -moz-white-space: pre-wrap;
  -o-white-space: pre-wrap;
}

#mfcs-request-email_log-0-page > .email_log-headers-wrapper,
#mfcs-request-email_log-0-page > .email_log-raw_body-wrapper,
#mfcs-request-email_log-0-page > .email_log-operations-wrapper,
#mfcs-request-email_log-0-page > .email_log-body-wrapper {
  margin-top: 1em;
}

#mfcs-request-email_log-0-page > .email_log-section-top {
  margin-top: 1em;
}

#mfcs-request-email_log-0-page > .email_log-headers-wrapper > legend > .fieldset-legend > .fieldset-title,
#mfcs-request-email_log-0-page > .email_log-raw_body-wrapper > legend > .fieldset-legend > .fieldset-title,
#mfcs-request-email_log-0-page > .email_log-operations-wrapper > legend > .fieldset-legend > .fieldset-title,
#mfcs-request-email_log-0-page > .email_log-body-wrapper > legend > .fieldset-legend > .fieldset-title {
  display: inline-block;

  text-transform: capitalize;
}

#mfcs-request-email_log-0-page > .email_log-headers-wrapper > legend > .fieldset-legend > .fieldset-title > .email_log-fieldset-title,
#mfcs-request-email_log-0-page > .email_log-raw_body-wrapper > legend > .fieldset-legend > .fieldset-title > .email_log-fieldset-title,
#mfcs-request-email_log-0-page > .email_log-operations-wrapper > legend > .fieldset-legend > .fieldset-title > .email_log-fieldset-title,
#mfcs-request-email_log-0-page > .email_log-body-wrapper > legend > .fieldset-legend > .fieldset-title > .email_log-fieldset-title {
  margin: 0px;

  font-size: 16px;
  line-height: 20px;
}

#mfcs-request-email_log-0-page > .email_log-operations-wrapper > .fieldset-wrapper > .email_log-operations > .email_log-operations-operation {
  display: inline-block;
  vertical-align: top;

  margin: 0px 10px;
}

#mfcs-request-email_log-0-page > .email_log-operations-wrapper > .fieldset-wrapper > .email_log-operations > .email_log-operations-operation:first-of-type {
  margin-left: 0px;
}

#mfcs-request-email_log-0-page > .email_log-operations-wrapper > .fieldset-wrapper > .email_log-operations > .email_log-operations-operation:last-of-type {
  margin-right: 0px;
}



/*** Proxy Page ***/
#mfcs-request-proxy-0-form #proxy > .fieldset-wrapper > .form-item-proxy-proxy_id,
#mfcs-request-proxy-0-form #proxy > .fieldset-wrapper > .form-item-proxy-new_user {
  display: inline-block;
  vertical-align: top;
}

#mfcs-request-proxy-0-form #proxy #submit-proxy-add {
  display: block;
}

#mfcs-request-proxy-0-form #proxy > .fieldset-wrapper > .form-item-proxy-new_user {
  margin: 22px 0px 0px 20px;
}



/*** Troubleshooting Page ***/
#mfcs-request-troubleshoot-0-form .troubleshoot-code > .form-submit {
  margin: 10px;
}

#mfcs-request-troubleshoot-0-form .troubleshoot-code > .code-separator {
  margin-bottom: 20px;
}



/*** Troubleshooting Page - Locations, Buildings, Rooms ***/
#mfcs-troubleshoot_0-locations-page > .information_page-section-content > .information_page-entry,
#mfcs-troubleshoot_0-buildings-page > .information_page-section-content > .information_page-entry,
#mfcs-troubleshoot_0-rooms-page > .information_page-section-content > .information_page-entry {
  display: inline-block;
  vertical-align: top;

  margin: 3px;
  padding: 3px;
  border: 1px solid #999999;

  min-width: 450px;

  background-color: #f5f5f5;
}

#mfcs-troubleshoot_0-locations-page > .information_page-section-content > .information_page-entry > .information_page-entry-title,
#mfcs-troubleshoot_0-buildings-page > .information_page-section-content > .information_page-entry > .information_page-entry-title,
#mfcs-troubleshoot_0-rooms-page > .information_page-section-content > .information_page-entry > .information_page-entry-title {
  padding: 2px 5px;
  margin: 0px;

  background-color: #cfcfcf;
}

#mfcs-troubleshoot_0-locations-page > .information_page-section-content > .information_page-entry > .information_page-entry-list,
#mfcs-troubleshoot_0-buildings-page > .information_page-section-content > .information_page-entry > .information_page-entry-list,
#mfcs-troubleshoot_0-rooms-page > .information_page-section-content > .information_page-entry > .information_page-entry-list {
  padding: 0px 5px;
}

#mfcs-troubleshoot_0-locations-page > .information_page-section-content > .information_page-entry > .information_page-entry-list > .information_page-entry-list-item,
#mfcs-troubleshoot_0-buildings-page > .information_page-section-content > .information_page-entry > .information_page-entry-list > .information_page-entry-list-item,
#mfcs-troubleshoot_0-rooms-page > .information_page-section-content > .information_page-entry > .information_page-entry-list > .information_page-entry-list-item {
  display: block;
  position: relative;

  line-height: 22px;

  border-bottom: 1px dotted;
}

#mfcs-troubleshoot_0-locations-page > .information_page-section-content > .information_page-entry > .information_page-entry-list > .information_page-entry-list-item.even,
#mfcs-troubleshoot_0-buildings-page > .information_page-section-content > .information_page-entry > .information_page-entry-list > .information_page-entry-list-item.even,
#mfcs-troubleshoot_0-rooms-page > .information_page-section-content > .information_page-entry > .information_page-entry-list > .information_page-entry-list-item.even {
  background-color: #ffffff;
}

#mfcs-troubleshoot_0-locations-page > .information_page-section-content > .information_page-entry > .information_page-entry-list > .information_page-entry-list-item:last-of-type,
#mfcs-troubleshoot_0-buildings-page > .information_page-section-content > .information_page-entry > .information_page-entry-list > .information_page-entry-list-item:last-of-type,
#mfcs-troubleshoot_0-rooms-page > .information_page-section-content > .information_page-entry > .information_page-entry-list > .information_page-entry-list-item:last-of-type {
  border-bottom: 0px none;
}

#mfcs-troubleshoot_0-locations-page > .information_page-section-content > .information_page-entry > .information_page-entry-list > .information_page-entry-list-item > .information_page-entry-list-item-name,
#mfcs-troubleshoot_0-buildings-page > .information_page-section-content > .information_page-entry > .information_page-entry-list > .information_page-entry-list-item > .information_page-entry-list-item-name,
#mfcs-troubleshoot_0-rooms-page > .information_page-section-content > .information_page-entry > .information_page-entry-list > .information_page-entry-list-item > .information_page-entry-list-item-name {
  display: inline-block;
  vertical-align: baseline;

  font-weight: bold;

  margin-right: 5px;
}

#mfcs-troubleshoot_0-locations-page > .information_page-section-content > .information_page-entry > .information_page-entry-list > .information_page-entry-list-item > .information_page-entry-list-item-value,
#mfcs-troubleshoot_0-buildings-page > .information_page-section-content > .information_page-entry > .information_page-entry-list > .information_page-entry-list-item > .information_page-entry-list-item-value,
#mfcs-troubleshoot_0-rooms-page > .information_page-section-content > .information_page-entry > .information_page-entry-list > .information_page-entry-list-item > .information_page-entry-list-item-value {
  display: inline-block;
  vertical-align: baseline;

  clear: both;
  float: right;
}



/*** Troubleshooting Page - Edit Location ***/
#mfcs-request-troubleshoot-0-locations-edit-name-form > .form-wrapper-inner > .locations-edit_name-summary > .locations-edit_name-summary_row {
  margin: 4px 0px;
}

#mfcs-request-troubleshoot-0-locations-edit-name-form > .form-wrapper-inner > .locations-edit_name-summary > .locations-edit_name-summary_row > .locations-edit_name-summary_row-label {
  display: inline-block;
  vertical-align: top;

  min-width: 120px;

  font-weight: bold;
}

#mfcs-request-troubleshoot-0-locations-edit-name-form > .form-wrapper-inner > .locations-edit_name-summary > .locations-edit_name-summary_row > .locations-edit_name-summary_row-vaue {
  display: inline-block;
  vertical-align: top;
}

#mfcs-request-troubleshoot-0-locations-edit-name-form > .form-wrapper-inner > .locations-edit_name-submit {
  margin: 15px 0px;
}

#mfcs-request-troubleshoot-0-locations-edit-name-form > .form-wrapper-inner > .locations-edit_name-submit > input {
  margin-right: 15px;
}


/*** Datatable Customizations ***/
.mcneese .dataTables_wrapper > .ColVis > .ColVis_Button, .mcneese .dataTables_wrapper > .dt-buttons > .dt-button {
  line-height: 16px;
}

.mcneese .dataTables_wrapper > .ColVis > .ColVis_Button,
.mcneese .dataTables_wrapper > .dt-buttons > .dt-button {
  margin: 0px 5px;
}

.mcneese .dataTables_wrapper > .dt-buttons > .dt-button.datatable-including_ignored,
.mcneese .dataTables_wrapper > .dt-buttons > .dt-button.datatable-showing_requests {
  position: relative;

  color: #000000;
  background: #ffffff none repeat scroll 0% 0%;

  font-size: 11px;
  line-height: 16px;

  padding: 3px 4px;
  border: 1px solid #999999;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #cccccc;

  white-space: nowrap;
}

.mcneese .dataTables_wrapper > .dt-buttons > .dt-button.datatable-including_ignored:active,
.mcneese .dataTables_wrapper > .dt-buttons > .dt-button.datatable-including_ignored:focus,
.mcneese .dataTables_wrapper > .dt-buttons > .dt-button.datatable-including_ignored:hover,
.mcneese .dataTables_wrapper > .dt-buttons > .dt-button.datatable-showing_requests:active,
.mcneese .dataTables_wrapper > .dt-buttons > .dt-button.datatable-showing_requests:focus,
.mcneese .dataTables_wrapper > .dt-buttons > .dt-button.datatable-showing_requests:hover {
  text-shadow: none;

  background-color: #f0f0f0;
  border: 1px solid #666666;
}



/*** Problems ***/
#mfcs-request-problems-0-request-form > .form-wrapper-inner > .request_problem-extra-conflict-items > .request_problem-extra-conflict-item {
  margin: 7px 0px 5px 0px;
}

#mfcs-request-problems-0-request-form > .form-wrapper-inner > .request_problem-summary > .request_problem-summary_row {
  margin: 4px 0px;
}

#mfcs-request-problems-0-request-form > .form-wrapper-inner > .request_problem-summary > .request_problem-summary_row > .request_problem-summary_row-label {
  display: inline-block;
  vertical-align: top;

  min-width: 120px;

  font-weight: bold;
}

#mfcs-request-problems-0-request-form > .form-wrapper-inner > .request_problem-summary > .request_problem-summary_row > .request_problem-summary_row-value {
  display: inline-block;
  vertical-align: top;
}


/*** Users ***/
#mfcs-request-users-view-page > .view_user-group {
  display: inline-block;
  vertical-align: top;
  position: relataive;
  box-sizing: border-box;

  margin: 5px 10px;
}

#mfcs-request-users-view-page > .view_user-group > .view_user-group-header {
  border-bottom: 1px solid #000000;
}

#mfcs-request-users-view-page > .view_user-group > .view_user-item {
  box-sizing: border-box;
}

#mfcs-request-users-view-page > .view_user-group > .view_user-item-roles-basic,
#mfcs-request-users-view-page > .view_user-group > .view_user-item-roles-venue,
#mfcs-request-users-view-page > .view_user-group > .view_user-item-roles-special,
#mfcs-request-users-view-page > .view_user-group > .view_user-item-roles-administer {
  display: list-item;

  margin-left: 15px;
}

#mfcs-request-users-view-page > .view_user-group > .view_user-item > .item-label,
#mfcs-request-users-view-page > .view_user-group > .view_user-item > .item-value {
  display: inline-block;
  vertical-align: top;

  min-width: 80px;
}



/*** Manage Request ***/
#mfcs-request-manage-0-page > .section {
  display: inline-block;
  vertical-align: top;
  position: relataive;
  box-sizing: border-box;

  margin: 5px 10px 15px 10px;
}

#mfcs-request-manage-0-page > .section > .header {
  border-bottom: 1px solid #000000;
}

#mfcs-request-manage-0-page > .section > .content > .item {
  box-sizing: border-box;

  min-width: 320px;
  max-width: 450px;
}

#mfcs-request-manage-0-page > .section > .content > .item > .item-label,
#mfcs-request-manage-0-page > .section > .content > .item > .item-value {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

#mfcs-request-manage-0-page > .section > .content > .item > .item-label {
  min-width: 160px;
  max-width: 160px;
}

#mfcs-request-manage-0-page > .section > .content > .item > .item-value {
  min-width: 160px;
  max-width: 290px;
}

#mfcs-request-manage-0-page > .section > .content > .item > .item-message {
  display: inline-block;
  vertical-align: top;

  min-width: 320px;
  max-width: 450px;
}

#mfcs-request-manage-0-page > .section > .content > .item > .item-label {
  font-weight: bold;
}

#mfcs-request-manage-0-page > .section > .content > .item > .item-value .user_id {
  vertical-align: top;

  font-size: 9px;
  line-height: 1em;
}

#mfcs-request-manage-0-page > .section-user_information > .content > .item > .item-label {
  min-width: 220px;
  max-width: 220px;
}

#mfcs-request-manage-0-page > .section-user_information > .content > .item > .item-value {
  min-width: 100px;
  max-width: 230px;
}

#mfcs-request-manage-0-page > .section-request_history > .content > .item,
#mfcs-request-manage-0-page > .section-management_actions > .content > .item {
  box-sizing: border-box;

  min-width: 700px;
  max-width: 700px;
}

#mfcs-request-manage-0-page > .section-request_history > .content > .item > .item-value,
#mfcs-request-manage-0-page > .section-management_actions > .content > .item > .item-value {
  min-width: 700px;
  max-width: 700px;
}



/*** Room Unavailability ***/
#mfcs-unavailable_0-manage_room-page > .room_information-wrapper > .room_information-item > .room_information-item-label,
#mfcs-unavailable_0-manage_room-page > .room_information-wrapper > .room_information-item > .room_information-item-value,
#mfcs-unavailable_0-view-page > .room_information-wrapper > .room_information-item > .room_information-item-label,
#mfcs-unavailable_0-view-page > .room_information-wrapper > .room_information-item > .room_information-item-value,
#mfcs-unavailable_0-view-page > .room_information-description > .room_information-description-label,
#mfcs-unavailable_0-view-page > .room_information-description > .room_information-description-value,
#mfcs-unavailable_0-view-page > .room_information-status > .room_information-status-label,
#mfcs-unavailable_0-view-page > .room_information-status > .room_information-status-value,
#mfcs-unavailable_0-create-page > .form-wrapper-inner > .room_information-wrapper > .room_information-item > .room_information-item-label,
#mfcs-unavailable_0-create-page > .form-wrapper-inner > .room_information-wrapper > .room_information-item > .room_information-item-value,
#mfcs-unavailable_0-edit-page > .form-wrapper-inner > .room_information-wrapper > .room_information-item > .room_information-item-label,
#mfcs-unavailable_0-edit-page > .form-wrapper-inner > .room_information-wrapper > .room_information-item > .room_information-item-value,
#mfcs-unavailable_0-copy-page > .form-wrapper-inner > .room_information-wrapper > .room_information-item > .room_information-item-label,
#mfcs-unavailable_0-copy-page > .form-wrapper-inner > .room_information-wrapper > .room_information-item > .room_information-item-value,
#mfcs-unavailable_0-delete-page > .form-wrapper-inner > .room_information-wrapper > .room_information-item > .room_information-item-label,
#mfcs-unavailable_0-delete-page > .form-wrapper-inner > .room_information-wrapper > .room_information-item > .room_information-item-value {
  display: inline-block;
  vertical-align: top;
}

#mfcs-unavailable_0-manage_room-page > .room_information-wrapper > .room_information-item > .room_information-item-label,
#mfcs-unavailable_0-view-page > .room_information-wrapper > .room_information-item > .room_information-item-label,
#mfcs-unavailable_0-view-page > .room_information-description > .room_information-description-label,
#mfcs-unavailable_0-view-page > .room_information-status > .room_information-status-label,
#mfcs-unavailable_0-create-page > .form-wrapper-inner > .room_information-wrapper > .room_information-item > .room_information-item-label,
#mfcs-unavailable_0-edit-page > .form-wrapper-inner > .room_information-wrapper > .room_information-item > .room_information-item-label,
#mfcs-unavailable_0-copy-page > .form-wrapper-inner > .room_information-wrapper > .room_information-item > .room_information-item-label,
#mfcs-unavailable_0-delete-page > .form-wrapper-inner > .room_information-wrapper > .room_information-item > .room_information-item-label {
  font-weight: bold;

  width: 140px;
  min-width: 140px;
  max-width: 140px;
}

#mfcs-unavailable_0-manage_room-page > .room_information-wrapper,
#mfcs-unavailable_0-create-page > .form-wrapper-inner > .room_information-wrapper,
#mfcs-unavailable_0-edit-page > .form-wrapper-inner > .room_information-wrapper,
#mfcs-unavailable_0-copy-page > .form-wrapper-inner > .room_information-wrapper,
#mfcs-unavailable_0-delete-page > .form-wrapper-inner > .room_information-wrapper {
  margin-bottom: 8px;
}

#mfcs-unavailable_0-create-page > .form-wrapper-inner > #section-unavailable-date_start > .fieldset-wrapper > .fieldset-description,
#mfcs-unavailable_0-create-page > .form-wrapper-inner > #section-unavailable-date_stop > .fieldset-wrapper > .fieldset-description,
#mfcs-unavailable_0-edit-page > .form-wrapper-inner > #section-unavailable-date_start > .fieldset-wrapper > .fieldset-description,
#mfcs-unavailable_0-edit-page > .form-wrapper-inner > #section-unavailable-date_stop > .fieldset-wrapper > .fieldset-description,
#mfcs-unavailable_0-copy-page > .form-wrapper-inner > #section-unavailable-date_start > .fieldset-wrapper > .fieldset-description,
#mfcs-unavailable_0-copy-page > .form-wrapper-inner > #section-unavailable-date_stop > .fieldset-wrapper > .fieldset-description ,
#mfcs-unavailable_0-delete-page > .form-wrapper-inner > #section-unavailable-date_start > .fieldset-wrapper > .fieldset-description,
#mfcs-unavailable_0-delete-page > .form-wrapper-inner > #section-unavailable-date_stop > .fieldset-wrapper > .fieldset-description   {
  margin: 0px;
}

#mfcs-unavailable_0-create-page > .form-wrapper-inner > #section-unavailable-date_start > .fieldset-wrapper > .form-item-unavailable-date_start-day,
#mfcs-unavailable_0-create-page > .form-wrapper-inner > #section-unavailable-date_start > .fieldset-wrapper > .form-item-unavailable-date_start-time,
#mfcs-unavailable_0-create-page > .form-wrapper-inner > #section-unavailable-date_stop > .fieldset-wrapper > .form-item-unavailable-date_stop-day,
#mfcs-unavailable_0-create-page > .form-wrapper-inner > #section-unavailable-date_stop > .fieldset-wrapper > .form-item-unavailable-date_stop-time,
#mfcs-unavailable_0-edit-page > .form-wrapper-inner > #section-unavailable-date_start > .fieldset-wrapper > .form-item-unavailable-date_start-day,
#mfcs-unavailable_0-edit-page > .form-wrapper-inner > #section-unavailable-date_start > .fieldset-wrapper > .form-item-unavailable-date_start-time,
#mfcs-unavailable_0-edit-page > .form-wrapper-inner > #section-unavailable-date_stop > .fieldset-wrapper > .form-item-unavailable-date_stop-day,
#mfcs-unavailable_0-edit-page > .form-wrapper-inner > #section-unavailable-date_stop > .fieldset-wrapper > .form-item-unavailable-date_stop-time,
#mfcs-unavailable_0-copy-page > .form-wrapper-inner > #section-unavailable-date_start > .fieldset-wrapper > .form-item-unavailable-date_start-day,
#mfcs-unavailable_0-copy-page > .form-wrapper-inner > #section-unavailable-date_start > .fieldset-wrapper > .form-item-unavailable-date_start-time,
#mfcs-unavailable_0-copy-page > .form-wrapper-inner > #section-unavailable-date_stop > .fieldset-wrapper > .form-item-unavailable-date_stop-day,
#mfcs-unavailable_0-copy-page > .form-wrapper-inner > #section-unavailable-date_stop > .fieldset-wrapper > .form-item-unavailable-date_stop-time,
#mfcs-unavailable_0-delete-page > .form-wrapper-inner > #section-unavailable-date_start > .fieldset-wrapper > .form-item-unavailable-date_start-day,
#mfcs-unavailable_0-delete-page > .form-wrapper-inner > #section-unavailable-date_start > .fieldset-wrapper > .form-item-unavailable-date_start-time,
#mfcs-unavailable_0-delete-page > .form-wrapper-inner > #section-unavailable-date_stop > .fieldset-wrapper > .form-item-unavailable-date_stop-day,
#mfcs-unavailable_0-delete-page > .form-wrapper-inner > #section-unavailable-date_stop > .fieldset-wrapper > .form-item-unavailable-date_stop-time {
  display: inline-block;
  vertical-align: top;
}

#mfcs-unavailable_0-create-page > .form-wrapper-inner > #section-unavailable-date_start > .fieldset-wrapper > .form-item-unavailable-date_start-day,
#mfcs-unavailable_0-create-page > .form-wrapper-inner > #section-unavailable-date_stop > .fieldset-wrapper > .form-item-unavailable-date_stop-day,
#mfcs-unavailable_0-edit-page > .form-wrapper-inner > #section-unavailable-date_start > .fieldset-wrapper > .form-item-unavailable-date_start-day,
#mfcs-unavailable_0-edit-page > .form-wrapper-inner > #section-unavailable-date_stop > .fieldset-wrapper > .form-item-unavailable-date_stop-day,
#mfcs-unavailable_0-copy-page > .form-wrapper-inner > #section-unavailable-date_start > .fieldset-wrapper > .form-item-unavailable-date_start-day,
#mfcs-unavailable_0-copy-page > .form-wrapper-inner > #section-unavailable-date_stop > .fieldset-wrapper > .form-item-unavailable-date_stop-day,
#mfcs-unavailable_0-delete-page > .form-wrapper-inner > #section-unavailable-date_start > .fieldset-wrapper > .form-item-unavailable-date_start-day,
#mfcs-unavailable_0-delete-page > .form-wrapper-inner > #section-unavailable-date_stop > .fieldset-wrapper > .form-item-unavailable-date_stop-day {
  margin-right: 20px;
}
