


/*** Global ***/
.mcneese .request-listing-page-navigator-bottom,
.mcneese .request-email_log-page-navigator-bottom,
.mcneese .request-history-page-navigator,
#search-simple-results-navigation {
  position: relative;

  min-height: 1em;
}

.mcneese .request-listing-page-navigator-top,
.mcneese .request-email_log-page-navigator-top {
  position: relative;
}

.mcneese .request-listing-page-navigator > .request-listing-page-choice,
.mcneese .request-email_log-page-navigator > .request-email_log-page-choice,
.mcneese .request-history-page-navigator > .request-history-page-choice,
#search-simple-results-navigation > .search-simple-results-navigation-choice {
  display: inline-block;
  position: absolute;
  vertical-align: top;
}

.mcneese .request-listing-page-navigator > .request-listing-page-previous,
.mcneese .request-email_log-page-navigator > .request-email_log-page-previous,
.mcneese .request-history-page-navigator > .request-history-page-previous,
#search-simple-results-navigation > .search-simple-results-navigation-previous {
  left: 0px;
}

.mcneese .request-listing-page-navigator > .request-listing-page-next,
.mcneese .request-email_log-page-navigator > .request-email_log-page-next,
.mcneese .request-history-page-navigator > .request-history-page-next,
#search-simple-results-navigation > .search-simple-results-navigation-next {
  right: 0px;
}



/*** Search ***/
#mfcs-request-search-0-form #search-simple-fieldset > .fieldset-wrapper {
  position: relative;
}

#mfcs-request-search-0-form #search-simple-fieldset > .fieldset-wrapper > .search-simple-field-text {
  margin-top: 0px;
}

#mfcs-request-search-0-form #search-simple-fieldset > .fieldset-wrapper > .search-simple-field-sensitive {
  position: absolute;
  top: -0.5em;
  right: 0px;

  margin: 8px;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper {
  position: relative;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper > .search-advanced-field-sensitive {
  position: absolute;
  top: -1.5em;
  right: 0px;

  margin: 8px;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-targets {
  margin: 0px 0px 0px 0px;
  padding: 3px 6px;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-search,
#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-targets {
  margin: 0px 0px 12px 0px;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-search > fieldset,
#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-targets > fieldset {

}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-search > fieldset:not(.collapsed),
#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-targets > fieldset:not(.collapsed) {
  border: 2px groove;

  background-color: #e6efff;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-search > .form-item > .fieldset-wrapper > .form-item,
#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-targets > .form-item > .fieldset-wrapper > .form-item {
  display: inline-block;
  vertical-align: top;

  margin: 8px;
}

#mfcs-request-search-0-form #search-advanced-search-controls-manage {
  margin: 8px;
}

#mfcs-request-search-0-form #search-advanced-search-controls-manage.collapsed {
  border: 0px none;
}

#mfcs-request-search-0-form #search-advanced-search-controls-manage:not(.collapsed) {
  background-color: #f0f0f0;
}

#mfcs-request-search-0-form #search-advanced-search-controls > legend > .fieldset-legend,
#mfcs-request-search-0-form #search-advanced-search-controls-manage > legend > .fieldset-legend {
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-search {
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-target {
  display: inline-block;
  vertical-align: top;

  margin: 8px;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-target > .search-advanced-target-wrapper {
  display: inline-block;
  vertical-align: top;

  background-color: #ffffc0;

  margin: 4px;
  padding: 4px;
  border: 2px ridge;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-target > .search-advanced-target-wrapper > legend > .fieldset-legend {
  font-weight: bold;

  background: inherit;
  padding: 0px;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-targets {
  border: 2px ridge;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper > .search-advanced-targets .search-advanced-targets {
  display: inline-block;
  vertical-align: top;
}

#mfcs-request-search-0-form #search-advanced-fieldset > .fieldset-wrapper .search-advanced-search-controls-grouping-explanation {
  min-height: 64px;
}

#mfcs-request-search-0-form #search-advanced-search-controls-manage > .fieldset-wrapper > .search-advanced-search-controls-manage-existing,
#mfcs-request-search-0-form #search-advanced-search-controls-manage > .fieldset-wrapper > .search-advanced-search-controls-manage-new {
  display: inline-block;
  vertical-align: top;

  margin: 8px;
}

#mfcs-request-search-0-form #search-simple-submit-clear,
#mfcs-request-search-0-form #search-advanced-submit-clear,
#mfcs-request-search-0-form #search-advanced-submit-reset,
#mfcs-request-reviewers-0-form #submit-reviewer-recheck {
  color: #000000;
  background-color: #99b2ee;
}

#mfcs-request-delete-0-form #request-delete-submit-no,
#mfcs-request-delete-0-form #request-delete-submit-no:visited {
  color: #000000;
  background-color: #cecece;
}

#mfcs-request-delete-0-form #request-delete-submit-yes,
#mfcs-request-delete-0-form #request-delete-submit-yes:visited {
  color: #000000;
  background-color: #e86f69;
}

#mfcs-request-search-0-form #search-simple-submit-clear:focus,
#mfcs-request-search-0-form #search-advanced-submit-clear:focus,
#mfcs-request-search-0-form #search-advanced-submit-reset:focus,
#mfcs-request-delete-0-form #request-delete-submit-no:focus,
#mfcs-request-delete-0-form #request-delete-submit-yes:focus,
#mfcs-request-search-0-form #search-simple-submit-clear:hover,
#mfcs-request-search-0-form #search-advanced-submit-clear:hover,
#mfcs-request-search-0-form #search-advanced-submit-reset:hover,
#mfcs-request-delete-0-form #request-delete-submit-no:hover,
#mfcs-request-delete-0-form #request-delete-submit-yes:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333
}

#mfcs-request-search-0-form #search-simple-submit-clear:active,
#mfcs-request-search-0-form #search-advanced-submit-clear:active,
#mfcs-request-search-0-form #search-advanced-submit-reset:active,
#mfcs-request-delete-0-form #request-delete-submit-no:active,
#mfcs-request-delete-0-form #request-delete-submit-yes:active {
  background: #666666;
  color: #ffffff;
  border: 1px inset #555555;
  text-shadow: #222222 0px -1px 0px;
}



/*** History ***/
#mfcs-request-history-0-form > .form-wrapper-inner > .history_items {
  margin-bottom: 15px;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > legend > .fieldset-legend > .fieldset-title {
  display: inline-block;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > legend > .fieldset-legend > .fieldset-title > .history_items-title {
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 1px;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > legend > .fieldset-legend > .summary {
  display: none;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-view_revision-link {
  display: inline-block;
  vertical-align: top;

  float: right;
  clear: both;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-label {
  margin: 10px 0px 0px 0px;
}
#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-label:first-of-type {
  margin: 0px;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-values > .history_item-value .item-label {
  margin: 5px 0px 0px 0px;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-label .updater_id {
  font-size: 9px;
  vertical-align: top;
  letter-spacing: 1px;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-values > .history_item-value .updater_name,
#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-values > .history_item-value .field_group,
#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-values > .history_item-value .field_name {
  text-transform: capitalize;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-values > .history_item-value {
  margin-left: 20px;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-values > .history_item-value .item-value {
  margin-left: 20px;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-deleted {
  border: 1px inset;
  padding: 4px;
}

#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-deleted > .history_item-message-preserved,
#mfcs-request-history-0-form > .form-wrapper-inner > .history_items > .fieldset-wrapper > .history_item-deleted > .history_item-signature-preserved {
  margin: 0px 0px 8px 0px;
}



/*** Statistics ***/
#mfcs-statistics-page {
  margin: 0px 5px;
}

#mfcs-statistics-page > .statistics-title {
  display: inline-block;
  vertical-align: top;

  width: 950px;
  min-width: 950px;
  max-width: 950px;

  margin: 0px auto;
}

#mfcs-statistics-page > .statistics-title > .statistics-title-text > .statistics-title-text-note {
  font-size: 14px;
}

#mfcs-statistics-page > .statistics-block {
  width: 950px;

  margin-left: auto;
  margin-right: auto;
}

#mfcs-statistics-page > .statistics-block > .statistics-block-chart,
#mfcs-statistics-page > .statistics-block > .statistics-block-text {
  display: inline-block;
  vertical-align: top;

  width: 470px;
  min-width: 470px;
  max-width: 470px;
}

#mfcs-statistics-page > .statistics-block > .statistics-block-text {
  margin-top: 1em;
}

#mfcs-statistics-page > .statistics-block > .statistics-block-text > .statistics-block-text-item {
  padding: 3px 0px;
}

#mfcs-statistics-page > .statistics-block > .statistics-block-text > .statistics-block-text-item-created {
  margin-bottom: 1em;
}



/*** E-mail Log Page ***/
#mfcs-request-email_log-0-page pre {
  margin: 0px;

  word-wrap: break-word;
  word-break: break-all;

  white-space: pre-wrap;
  -moz-white-space: pre-wrap;
  -o-white-space: pre-wrap;
}

#mfcs-request-email_log-0-page > .email_log-headers-wrapper,
#mfcs-request-email_log-0-page > .email_log-raw_body-wrapper,
#mfcs-request-email_log-0-page > .email_log-body-wrapper {
  margin-top: 1em;
}

#mfcs-request-email_log-0-page > .email_log-section-top {
  margin-top: 1em;
}

#mfcs-request-email_log-0-page > .email_log-headers-wrapper > legend > .fieldset-legend > .fieldset-title,
#mfcs-request-email_log-0-page > .email_log-raw_body-wrapper > legend > .fieldset-legend > .fieldset-title,
#mfcs-request-email_log-0-page > .email_log-body-wrapper > legend > .fieldset-legend > .fieldset-title {
  display: inline-block;

  text-transform: capitalize;
}

#mfcs-request-email_log-0-page > .email_log-headers-wrapper > legend > .fieldset-legend > .fieldset-title > .email_log-fieldset-title,
#mfcs-request-email_log-0-page > .email_log-raw_body-wrapper > legend > .fieldset-legend > .fieldset-title > .email_log-fieldset-title,
#mfcs-request-email_log-0-page > .email_log-body-wrapper > legend > .fieldset-legend > .fieldset-title > .email_log-fieldset-title {
  margin: 0px;

  font-size: 16px;
  line-height: 20px;
}