


/*** Create/Edit ***/
#mfcs-request-create-0-form .form-item,
#mfcs-request-edit-0-form .form-item {
  margin: 0px;
}

#mfcs-request-create-0-form #section-request-dates #buttons-request-add_remove_date,
#mfcs-request-edit-0-form #section-request-dates #buttons-request-add_remove_date {
  display: block;
}

#mfcs-request-create-0-form #section-request-dates #submit-request-add-date,
#mfcs-request-edit-0-form #section-request-dates #submit-request-add-date {
  display: inline-block;
}

#mfcs-request-create-0-form #section-request-dates #submit-request-remove-date,
#mfcs-request-edit-0-form #section-request-dates #submit-request-remove-date {
  display: inline-block;
}


/** Location **/
#mfcs-request-create-0-form #field-request-location-0 > .location-image,
#mfcs-request-edit-0-form #field-request-location-0 > .location-image {
  float: right;
}

#mfcs-request-create-0-form #field-request-location-0 > .location-image-invisible,
#mfcs-request-edit-0-form #field-request-location-0 > .location-image-invisible {
  display: none;
}

#mfcs-request-create-0-form #field-request-location-0 > .location-image-visible,
#mfcs-request-edit-0-form #field-request-location-0 > .location-image-visible {
  display: inline-block;
}


/** Room **/
#mfcs-request-create-0-form #field-request-room > .form-item > .form-item-delta > .form-item,
#mfcs-request-edit-0-form #field-request-room > .form-item > .form-item-delta > .form-item {
  display: inline-block;
  vertical-align: top;
}

#mfcs-request-create-0-form #field-request-room > .form-item > .form-item-delta > .form-item > .form-radio,
#mfcs-request-edit-0-form #field-request-room > .form-item > .form-item-delta > .form-item > .form-radio {
  display: inline-block;
  vertical-align: middle;
  float: left;
}

#mfcs-request-create-0-form #field-request-room > .form-item > .form-item-delta > .form-item > label,
#mfcs-request-edit-0-form #field-request-room > .form-item > .form-item-delta > .form-item > label {
  display: inline-block;
  vertical-align: middle;
}

#mfcs-request-create-0-form #field-request-room > .form-item > .form-item-delta > .form-item > label > .building_desc,
#mfcs-request-edit-0-form #field-request-room > .form-item > .form-item-delta > .form-item > label > .building_desc {
  font-weight: bold;
}

#mfcs-request-create-0-form #field-request-room > .form-item > .form-item-delta > .form-item > label > .room_number,
#mfcs-request-edit-0-form #field-request-room > .form-item > .form-item-delta > .form-item > label > .room_number {
  clear: both;
  float: right;
}

#mfcs-request-create-0-form #field-request-room > .form-item > .form-item-delta > .form-item > label > .room_capacity,
#mfcs-request-edit-0-form #field-request-room > .form-item > .form-item-delta > .form-item > label > .room_capacity {
  clear: both;
  float: right;
}

#mfcs-request-create-0-form #field-request-room > .form-item > .form-item-delta > .form-item > label > .room_description > .room_description-data,
#mfcs-request-edit-0-form #field-request-room > .form-item > .form-item-delta > .form-item > label > .room_description > .room_description-data {
  display: block;
}


/** Dates **/
#mfcs-request-create-0-form #group-request-dates-date > .group-field-container > .field-request-item,
#mfcs-request-edit-0-form #group-request-dates-date > .group-field-container > .field-request-item {
  display: inline-block;
  vertical-align: top;
}

#mfcs-request-create-0-form #group-request-dates-date > .group-field-container > .buttons-request-remove-date,
#mfcs-request-edit-0-form #group-request-dates-date > .group-field-container > .buttons-request-remove-date {
  display: inline-block;
  vertical-align: top;
}

#mfcs-request-create-0-form #group-request-dates-date > .group-field-container > .buttons-request-remove-date > .buttons-request-remove-date-button,
#mfcs-request-edit-0-form #group-request-dates-date > .group-field-container > .buttons-request-remove-date > .buttons-request-remove-date-button {
  color: #000000;
  background-color: #e86f69;
}

#mfcs-request-create-0-form #group-request-dates-date > .group-field-container > .buttons-request-remove-date > .buttons-request-remove-date-button:active,
#mfcs-request-edit-0-form #group-request-dates-date > .group-field-container > .buttons-request-remove-date > .buttons-request-remove-date-button:active,
#mfcs-request-create-0-form #group-request-dates-date > .group-field-container > .buttons-request-remove-date > .buttons-request-remove-date-button:focus,
#mfcs-request-edit-0-form #group-request-dates-date > .group-field-container > .buttons-request-remove-date > .buttons-request-remove-date-button:focus,
#mfcs-request-create-0-form #group-request-dates-date > .group-field-container > .buttons-request-remove-date > .buttons-request-remove-date-button:hover,
#mfcs-request-edit-0-form #group-request-dates-date > .group-field-container > .buttons-request-remove-date > .buttons-request-remove-date-button:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}

#mfcs-request-create-0-form #group-request-dates-date > .group-field-container > .buttons-request-remove-date > .buttons-request-remove-date-button:active,
#mfcs-request-edit-0-form #group-request-dates-date > .group-field-container > .buttons-request-remove-date > .buttons-request-remove-date-button:active {
  background: #666666;
  color: #ffffff;

  border: 1px inset #555555;
  text-shadow: #222222 0px -1px 0px;
}


/** Venue Coordinator **/
#mfcs-request-create-0-form #section-request-venue_coordinator > .fieldset-wrapper > .form-wrapper,
#mfcs-request-edit-0-form #section-request-venue_coordinator > .fieldset-wrapper > .form-wrapper {
  display: inline-block;
  vertical-align: top;
}


/** Request Coordinator **/
#mfcs-request-create-0-form #section-request-request_coordinator > .fieldset-wrapper > .form-wrapper,
#mfcs-request-edit-0-form #section-request-request_coordinator > .fieldset-wrapper > .form-wrapper {
  display: inline-block;
  vertical-align: top;
}


/** Information **/
#mfcs-request-create-0-form #section-request-information > .fieldset-wrapper > .form-wrapper,
#mfcs-request-edit-0-form #section-request-information > .fieldset-wrapper > .form-wrapper {
  display: inline-block;
  vertical-align: top;
}



/*** View ***/
#mfcs-request-view-0-form .request-section-review-log > .fieldset-wrapper > .request-section-review-log-yet_to_review > .yet_to_review-list > .yet_to_review-list_item > .details_list > .details_list-item > .details_list-user > .details_list-user_id {
  vertical-align: top;
  font-size: 9px;
}

#mfcs-request-view-0-form .request-section-review-operations > .fieldset-wrapper > .requirements > .fieldset-wrapper > .form-item {
  display: inline-block;
  vertical-align: top;
}

#mfcs-request-view-0-form .request-section-review-operations > .fieldset-wrapper > .request-section-review-operations-requirements {
  color: #004cb6;

  font-weight: bold;
  font-style: italic;
}

#mfcs-request-view-0-form .request-field_groups > .group {
  display: table;

  margin: 10px 0px;
}

#mfcs-request-view-0-form .request-field_groups > .group > .section-request {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;

  overflow: auto;
}

#mfcs-request-view-0-form .request-field_groups > .group > .section-request > .section-request-label-wrapper {
  background-color: #d0d0d0;

  border-top: 1px outset #a0a0a0;
  border-left: 1px outset #a0a0a0;
  border-bottom: 1px outset #a0a0a0;
  border-right: 1px outset #a0a0a0;
}

#mfcs-request-view-0-form .request-field_groups > .group > .section-request > .section-request-label-wrapper > .section-request-ical,
#mfcs-request-view-0-form .request-field_groups > .group > .section-request > .section-request-label-wrapper > .section-request-agreement,
#mfcs-request-view-0-form .request-field_groups > .group > .section-request > .section-request-label-wrapper > .section-request-history,
#mfcs-request-view-0-form .request-field_groups > .group > .section-request > .section-request-label-wrapper > .section-request-edit,
#mfcs-request-view-0-form .request-field_groups > .group > .section-request > .section-request-label-wrapper > .section-request-clone {
  float: right;
}

#mfcs-request-view-0-form .request-field_groups > .group > .section-request > .item-request {
  position: relative;

  clear: both;

  border-bottom: 1px dotted #707070;

  font-family: monospace;
}

#mfcs-request-view-0-form .request-field_groups > .group > .section-request > .item-request.even {
  background-color: #f4f4f4;
}

#mfcs-request-view-0-form .request-field_groups > .group > .section-request > .item-request.odd {
  background-color: #ffffff;
}

#mfcs-request-view-0-form .request-field_groups > .group > .section-request > .item-request.item-size-small > .item-label {
  display: block;
  float: left;

  font-weight: bold;
}

#mfcs-request-view-0-form .request-field_groups > .group > .section-request > .item-request.item-size-large > .item-label {
  display: block;

  font-weight: bold;
}

#mfcs-request-view-0-form .request-field_groups > .group > .section-request > .item-request > .item-label:after {
  content: ': ';
}

#mfcs-request-view-0-form .request-field_groups > .group > .section-request > .item-request.item-size-small > .item-value {
  display: block;

  text-align: right;
}

#mfcs-request-view-0-form .request-field_groups > .group > .section-request > .item-request.item-size-large > .item-value {
  display: block;
}

#mfcs-request-view-0-form .request-field_groups > .group > .section-request > .item-request.item-size-small > .item-value > .item-value-instance-dates-category {
  font-size: 12px;
}

#mfcs-request-view-0-form .request-section-review-log-history > .review-item > .review-item-label {
  background-color: #d0d0d0;

  margin: 0px;
  border-top: 1px outset #a0a0a0;
  border-left: 1px outset #a0a0a0;
  border-bottom: 1px outset #a0a0a0;
  border-right: 1px outset #a0a0a0;
}

#mfcs-request-view-0-form .request-section-review-log-history > .review-item > .review-item-label > .review-item-label-text,
#mfcs-request-view-0-form .request-section-review-log-history > .review-item > .review-item-label > .review-item-label-date,
#mfcs-request-view-0-form .request-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-label > .review-item-label-text,
#mfcs-request-view-0-form .request-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-label > .review-item-label-date {
  display: inline-block;
  vertical-align: top;
  margin: 0px;
}

#mfcs-request-view-0-form .request-section-review-log-history > .review-item > .review-item-label > .review-item-label-text,
#mfcs-request-view-0-form .request-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-label > .review-item-label-text {
  font-weight: normal;
}

#mfcs-request-view-0-form .request-section-review-log-history > .review-item > .review-item-label > .review-item-label-text > .review-item-label-text-row,
#mfcs-request-view-0-form .request-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-label > .review-item-label-text > .review-item-label-text-row {
  display: inline;
  vertical-align: top;

  font-family: monospace;
  font-weight: normal;
}

#mfcs-request-view-0-form .request-section-review-log-history > .review-item > .review-item-label > .review-item-label-text > .review-item-label-text-title,
#mfcs-request-view-0-form .request-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-label > .review-item-label-text > .review-item-label-text-title {
  display: inline;
}

#mfcs-request-view-0-form .request-section-review-log-history > .review-item > .review-item-label > .review-item-label-text > .review-item-label-text-title > .updater_id,
#mfcs-request-view-0-form .request-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-label > .review-item-label-text > .review-item-label-text-title > .updater_id {
  vertical-align: top;
}

#mfcs-request-view-0-form .request-section-review-log-history > .review-item > .review-item-label > .review-item-label-date,
#mfcs-request-view-0-form .request-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-label > .review-item-label-date {
  float: right;
}

#mfcs-request-view-0-form .request-section-review-log-history > .review-item > .review-item-message,
#mfcs-request-view-0-form .request-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-message {
  position: relative;

  border: 1px dotted #707070;

  background-color: #f4f4f4;
}

#mfcs-request-view-0-form .request-section-review-log-history > .review-item > .review-item-message > .review-item-message-requirements > .item-label,
#mfcs-request-view-0-form .request-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-message > .review-item-message-requirements > .item-label {
  display: inline-block;
  font-weight: bold;
}

#mfcs-request-view-0-form .request-section-review-log-history > .review-item > .review-item-message > .review-item-message-requirements > .item-value,
#mfcs-request-view-0-form .request-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-message > .review-item-message-requirements > .item-value {
  display: inline-block;
}



/*** Facilities Use Agreement ***/
#mfcs-request-agreement,
.mcneese.alias-part-1-agreement_0.alias-part-3-pdf #mcneese-page-content > .page-title {
  display: block;

  margin-left: auto;
  margin-right: auto;
}

#mfcs-request-agreement {
  position: relative;
}

#mfcs-request-agreement > .agreement-header {
  position: relative;
}

#mfcs-request-agreement > .agreement-header > .agreement-header-information {
  position: absolute;
}

#mfcs-request-agreement > .agreement-header > .agreement-header-address > .agreement-header-address-line-0 {
  font-weight: bold;
}

#mfcs-request-agreement > .agreement-header > .agreement-header-information > .agreement-header-date > .agreement-header-date-label,
#mfcs-request-agreement > .agreement-header > .agreement-header-information > .agreement-header-date > .agreement-header-date-value,
#mfcs-request-agreement > .agreement-header > .agreement-header-information > .agreement-header-request_id > .agreement-header-request_id-label,
#mfcs-request-agreement > .agreement-header > .agreement-header-information > .agreement-header-request_id > .agreement-header-request_id-value {
  display: inline-block;
  vertical-align: top;
}

#mfcs-request-agreement > .agreement-header > .agreement-header-information > .agreement-header-date > .agreement-header-date-label,
#mfcs-request-agreement > .agreement-header > .agreement-header-information > .agreement-header-request_id > .agreement-header-request_id-label {
  font-weight: bold;
}

#mfcs-request-agreement > .agreement-table {
  display: table;

  border: 1px solid #c0c0c0;
}

#mfcs-request-agreement > .agreement-table > .agreement-table-header {
  display: table-header-group;
}

#mfcs-request-agreement > .agreement-table > .agreement-table-header > .agreement-table-header-row {
  display: table-row;
}

#mfcs-request-agreement > .agreement-table > .agreement-table-header > .agreement-table-header-row > .agreement-table-header-cell {
  display: table-cell;

  font-weight: bold;

  border-bottom: 1px solid #c0c0c0;
}

#mfcs-request-agreement > .agreement-table > .agreement-table-header > .agreement-table-header-row > .column-1,
#mfcs-request-agreement > .agreement-table > .agreement-table-header > .agreement-table-header-row > .column-2 {
  text-align: center;

  border-left: 1px solid #c0c0c0;
}

#mfcs-request-agreement > .agreement-table > .agreement-table-body {
  display: table-row-group;
}

#mfcs-request-agreement > .agreement-table > .agreement-table-body > .agreement-table-body-row {
  display: table-row;
}

#mfcs-request-agreement > .agreement-table > .agreement-table-body > .agreement-table-body-row > .agreement-table-body-row-cell {
  display: table-cell;

  border-bottom: 1px solid #c0c0c0;
}

#mfcs-request-agreement > .agreement-table > .agreement-table-body > .agreement-table-body-row:last-of-type > .agreement-table-body-row-cell {
  border-bottom: 0px none;
}

#mfcs-request-agreement > .agreement-table > .agreement-table-body > .agreement-table-body-row > .column-1,
#mfcs-request-agreement > .agreement-table > .agreement-table-body > .agreement-table-body-row > .column-2 {
  vertical-align: bottom;

  text-align: center;

  border-left: 1px solid #c0c0c0;
}

#mfcs-request-agreement > .agreement-amount_due > .agreement-amount_due-label {
  display: table-cell;

  font-weight: bold;
}

#mfcs-request-agreement > .agreement-amount_due > .agreement-amount_due-value {
  display: table-cell;

  text-align: center;

  border: 2px solid #505050;
}

#mfcs-request-agreement > .agreement-signature > .agreement-signature-field > .agreement-signature-field-label,
#mfcs-request-agreement > .agreement-signature > .agreement-signature-field > .agreement-signature-field-input {
  display: inline-block;
  vertical-align: bottom;
}

#mfcs-request-agreement > .agreement-signature > .agreement-signature-field > .agreement-signature-field-input {
  border: 0px none;
  border-bottom: 1px solid #000000;

  min-height: 2em;
}
