.mcneese a:focus {
  border: 1px dotted #555555;
}

.mcneese a,
.mcneese a:visited {
  color: #00477f;
}

.mcneese a:focus,
.mcneese a:active,
.mcneese a:hover {
  color: #7f0000;
}

.mcneese a[name],
.mcneese a[name]:focus,
.mcneese a[name]:active,
.mcneese a[name]:hover {
  text-decoration: none;
  color: inherit;
}

.mcneese .form-item,
.mcneese .form-actions {
  margin: 8px 0px;
}

.mcneese div.error,
.mcneese .error {
  color: #8c2e0b;
}



/*** Font Size Adjustments ***/
.mcneese .print-font-size-1 {
  font-size: 1px;
}

.mcneese .print-font-size-2 {
  font-size: 2px;
}

.mcneese .print-font-size-3 {
  font-size: 3px;
}

.mcneese .print-font-size-4 {
  font-size: 4px;
}

.mcneese .print-font-size-5 {
  font-size: 5px;
}

.mcneese .print-font-size-6 {
  font-size: 6px;
}

.mcneese .print-font-size-7 {
  font-size: 7px;
}

.mcneese .print-font-size-8 {
  font-size: 8px;
}

.mcneese .print-font-size-9 {
  font-size: 9px;
}

.mcneese .print-font-size-10 {
  font-size: 10px;
}

.mcneese .print-font-size-11 {
  font-size: 11px;
}

.mcneese .print-font-size-12 {
  font-size: 12px;
}

.mcneese .print-font-size-13 {
  font-size: 13px;
}

.mcneese .print-font-size-14 {
  font-size: 14px;
}

.mcneese .print-font-size-15 {
  font-size: 15px;
}

.mcneese .print-font-size-16 {
  font-size: 16px;
}

.mcneese .print-font-size-17 {
  font-size: 17px;
}

.mcneese .print-font-size-18 {
  font-size: 18px;
}

.mcneese .print-font-size-19 {
  font-size: 19px;
}

.mcneese .print-font-size-20 {
  font-size: 20px;
}

.mcneese .print-font-size-21 {
  font-size: 21px;
}

.mcneese .print-font-size-22 {
  font-size: 22px;
}

.mcneese .print-font-size-23 {
  font-size: 23px;
}

.mcneese .print-font-size-24 {
  font-size: 24px;
}

.mcneese .print-font-size-25 {
  font-size: 25px;
}

.mcneese .print-font-size-26 {
  font-size: 26px;
}

.mcneese .print-font-size-27 {
  font-size: 27px;
}

.mcneese .print-font-size-28 {
  font-size: 28px;
}

.mcneese .print-font-size-29 {
  font-size: 29px;
}

.mcneese .print-font-size-30 {
  font-size: 30px;
}

.mcneese .print-font-size-31 {
  font-size: 31px;
}

.mcneese .print-font-size-12 {
  font-size: 12px;
}

.mcneese .print-font-size-33 {
  font-size: 33px;
}

.mcneese .print-font-size-34 {
  font-size: 34px;
}

.mcneese .print-font-size-35 {
  font-size: 35px;
}

.mcneese .print-font-size-36 {
  font-size: 36px;
}

.mcneese .print-font-size-37 {
  font-size: 37px;
}

.mcneese .print-font-size-38 {
  font-size: 38px;
}

.mcneese .print-font-size-39 {
  font-size: 39px;
}

.mcneese .print-font-size-40 {
  font-size: 40px;
}

.mcneese .print-font-size-41 {
  font-size: 41px;
}

.mcneese .print-font-size-42 {
  font-size: 42px;
}

.mcneese .print-font-size-43 {
  font-size: 43px;
}

.mcneese .print-font-size-44 {
  font-size: 44px;
}

.mcneese .print-font-size-45 {
  font-size: 45px;
}

.mcneese .print-font-size-46 {
  font-size: 46px;
}

.mcneese .print-font-size-47 {
  font-size: 47px;
}

.mcneese .print-font-size-48 {
  font-size: 48px;
}

.mcneese .print-font-size-49 {
  font-size: 49px;
}

.mcneese .print-font-size-50 {
  font-size: 50px;
}

.mcneese .print-font-size-51 {
  font-size: 51px;
}

.mcneese .print-font-size-52 {
  font-size: 52px;
}

.mcneese .print-font-size-53 {
  font-size: 53px;
}

.mcneese .print-font-size-54 {
  font-size: 54px;
}

.mcneese .print-font-size-55 {
  font-size: 55px;
}

.mcneese .print-font-size-56 {
  font-size: 56px;
}

.mcneese .print-font-size-57 {
  font-size: 57px;
}

.mcneese .print-font-size-58 {
  font-size: 58px;
}

.mcneese .print-font-size-59 {
  font-size: 59px;
}

.mcneese .print-font-size-60 {
  font-size: 60px;
}

.mcneese .print-font-size-61 {
  font-size: 61px;
}

.mcneese .print-font-size-62 {
  font-size: 62px;
}

.mcneese .print-font-size-63 {
  font-size: 63px;
}

.mcneese .print-font-size-64 {
  font-size: 64px;
}

.mcneese .print-font-size-65 {
  font-size: 65px;
}

.mcneese .print-font-size-66 {
  font-size: 66px;
}

.mcneese .print-font-size-67 {
  font-size: 67px;
}

.mcneese .print-font-size-68 {
  font-size: 68px;
}

.mcneese .print-font-size-69 {
  font-size: 69px;
}

.mcneese .print-font-size-70 {
  font-size: 70px;
}

.mcneese .print-font-size-71 {
  font-size: 71px;
}

.mcneese .print-font-size-72 {
  font-size: 72px;
}

.mcneese .print-font-size-73 {
  font-size: 73px;
}

.mcneese .print-font-size-74 {
  font-size: 74px;
}

.mcneese .print-font-size-75 {
  font-size: 75px;
}

.mcneese .print-font-size-76 {
  font-size: 76px;
}

.mcneese .print-font-size-77 {
  font-size: 77px;
}

.mcneese .print-font-size-78 {
  font-size: 78px;
}

.mcneese .print-font-size-79 {
  font-size: 79px;
}

.mcneese .print-font-size-80 {
  font-size: 80px;
}

.mcneese .print-font-size-81 {
  font-size: 81px;
}

.mcneese .print-font-size-82 {
  font-size: 82px;
}

.mcneese .print-font-size-83 {
  font-size: 83px;
}

.mcneese .print-font-size-84 {
  font-size: 84px;
}

.mcneese .print-font-size-85 {
  font-size: 85px;
}

.mcneese .print-font-size-86 {
  font-size: 86px;
}

.mcneese .print-font-size-87 {
  font-size: 87px;
}

.mcneese .print-font-size-88 {
  font-size: 88px;
}

.mcneese .print-font-size-89 {
  font-size: 89px;
}

.mcneese .print-font-size-90 {
  font-size: 90px;
}

.mcneese .print-font-size-91 {
  font-size: 91px;
}

.mcneese .print-font-size-92 {
  font-size: 92px;
}

.mcneese .print-font-size-93 {
  font-size: 93px;
}

.mcneese .print-font-size-94 {
  font-size: 94px;
}

.mcneese .print-font-size-95 {
  font-size: 95px;
}

.mcneese .print-font-size-96 {
  font-size: 96px;
}

.mcneese .print-font-size-97 {
  font-size: 97px;
}

.mcneese .print-font-size-98 {
  font-size: 98px;
}

.mcneese .print-font-size-99 {
  font-size: 99px;
}



/*** Line Height Adjustments ***/
.mcneese .print-line-height-1 {
  line-height: 1px;
}

.mcneese .print-line-height-2 {
  line-height: 2px;
}

.mcneese .print-line-height-3 {
  line-height: 3px;
}

.mcneese .print-line-height-4 {
  line-height: 4px;
}

.mcneese .print-line-height-5 {
  line-height: 5px;
}

.mcneese .print-line-height-6 {
  line-height: 6px;
}

.mcneese .print-line-height-7 {
  line-height: 7px;
}

.mcneese .print-line-height-8 {
  line-height: 8px;
}

.mcneese .print-line-height-9 {
  line-height: 9px;
}

.mcneese .print-line-height-10 {
  line-height: 10px;
}

.mcneese .print-line-height-11 {
  line-height: 11px;
}

.mcneese .print-line-height-12 {
  line-height: 12px;
}

.mcneese .print-line-height-13 {
  line-height: 13px;
}

.mcneese .print-line-height-14 {
  line-height: 14px;
}

.mcneese .print-line-height-15 {
  line-height: 15px;
}

.mcneese .print-line-height-16 {
  line-height: 16px;
}

.mcneese .print-line-height-17 {
  line-height: 17px;
}

.mcneese .print-line-height-18 {
  line-height: 18px;
}

.mcneese .print-line-height-19 {
  line-height: 19px;
}

.mcneese .print-line-height-20 {
  line-height: 20px;
}

.mcneese .print-line-height-21 {
  line-height: 21px;
}

.mcneese .print-line-height-22 {
  line-height: 22px;
}

.mcneese .print-line-height-23 {
  line-height: 23px;
}

.mcneese .print-line-height-24 {
  line-height: 24px;
}

.mcneese .print-line-height-25 {
  line-height: 25px;
}

.mcneese .print-line-height-26 {
  line-height: 26px;
}

.mcneese .print-line-height-27 {
  line-height: 27px;
}

.mcneese .print-line-height-28 {
  line-height: 28px;
}

.mcneese .print-line-height-29 {
  line-height: 29px;
}

.mcneese .print-line-height-30 {
  line-height: 30px;
}

.mcneese .print-line-height-31 {
  line-height: 31px;
}

.mcneese .print-line-height-12 {
  line-height: 12px;
}

.mcneese .print-line-height-33 {
  line-height: 33px;
}

.mcneese .print-line-height-34 {
  line-height: 34px;
}

.mcneese .print-line-height-35 {
  line-height: 35px;
}

.mcneese .print-line-height-36 {
  line-height: 36px;
}

.mcneese .print-line-height-37 {
  line-height: 37px;
}

.mcneese .print-line-height-38 {
  line-height: 38px;
}

.mcneese .print-line-height-39 {
  line-height: 39px;
}

.mcneese .print-line-height-40 {
  line-height: 40px;
}

.mcneese .print-line-height-41 {
  line-height: 41px;
}

.mcneese .print-line-height-42 {
  line-height: 42px;
}

.mcneese .print-line-height-43 {
  line-height: 43px;
}

.mcneese .print-line-height-44 {
  line-height: 44px;
}

.mcneese .print-line-height-45 {
  line-height: 45px;
}

.mcneese .print-line-height-46 {
  line-height: 46px;
}

.mcneese .print-line-height-47 {
  line-height: 47px;
}

.mcneese .print-line-height-48 {
  line-height: 48px;
}

.mcneese .print-line-height-49 {
  line-height: 49px;
}

.mcneese .print-line-height-50 {
  line-height: 50px;
}

.mcneese .print-line-height-51 {
  line-height: 51px;
}

.mcneese .print-line-height-52 {
  line-height: 52px;
}

.mcneese .print-line-height-53 {
  line-height: 53px;
}

.mcneese .print-line-height-54 {
  line-height: 54px;
}

.mcneese .print-line-height-55 {
  line-height: 55px;
}

.mcneese .print-line-height-56 {
  line-height: 56px;
}

.mcneese .print-line-height-57 {
  line-height: 57px;
}

.mcneese .print-line-height-58 {
  line-height: 58px;
}

.mcneese .print-line-height-59 {
  line-height: 59px;
}

.mcneese .print-line-height-60 {
  line-height: 60px;
}

.mcneese .print-line-height-61 {
  line-height: 61px;
}

.mcneese .print-line-height-62 {
  line-height: 62px;
}

.mcneese .print-line-height-63 {
  line-height: 63px;
}

.mcneese .print-line-height-64 {
  line-height: 64px;
}

.mcneese .print-line-height-65 {
  line-height: 65px;
}

.mcneese .print-line-height-66 {
  line-height: 66px;
}

.mcneese .print-line-height-67 {
  line-height: 67px;
}

.mcneese .print-line-height-68 {
  line-height: 68px;
}

.mcneese .print-line-height-69 {
  line-height: 69px;
}

.mcneese .print-line-height-70 {
  line-height: 70px;
}

.mcneese .print-line-height-71 {
  line-height: 71px;
}

.mcneese .print-line-height-72 {
  line-height: 72px;
}

.mcneese .print-line-height-73 {
  line-height: 73px;
}

.mcneese .print-line-height-74 {
  line-height: 74px;
}

.mcneese .print-line-height-75 {
  line-height: 75px;
}

.mcneese .print-line-height-76 {
  line-height: 76px;
}

.mcneese .print-line-height-77 {
  line-height: 77px;
}

.mcneese .print-line-height-78 {
  line-height: 78px;
}

.mcneese .print-line-height-79 {
  line-height: 79px;
}

.mcneese .print-line-height-80 {
  line-height: 80px;
}

.mcneese .print-line-height-81 {
  line-height: 81px;
}

.mcneese .print-line-height-82 {
  line-height: 82px;
}

.mcneese .print-line-height-83 {
  line-height: 83px;
}

.mcneese .print-line-height-84 {
  line-height: 84px;
}

.mcneese .print-line-height-85 {
  line-height: 85px;
}

.mcneese .print-line-height-86 {
  line-height: 86px;
}

.mcneese .print-line-height-87 {
  line-height: 87px;
}

.mcneese .print-line-height-88 {
  line-height: 88px;
}

.mcneese .print-line-height-89 {
  line-height: 89px;
}

.mcneese .print-line-height-90 {
  line-height: 90px;
}

.mcneese .print-line-height-91 {
  line-height: 91px;
}

.mcneese .print-line-height-92 {
  line-height: 92px;
}

.mcneese .print-line-height-93 {
  line-height: 93px;
}

.mcneese .print-line-height-94 {
  line-height: 94px;
}

.mcneese .print-line-height-95 {
  line-height: 95px;
}

.mcneese .print-line-height-96 {
  line-height: 96px;
}

.mcneese .print-line-height-97 {
  line-height: 97px;
}

.mcneese .print-line-height-98 {
  line-height: 98px;
}

.mcneese .print-line-height-99 {
  line-height: 99px;
}



/*** Skip Navigation ***/
#mcneese-skip_nav {
  display: block;

  background-color: #ffffff;
  color: #000000;
  text-decoration: none;

  font-size: 0px;
  line-height: 0px;

  height: 0px;
  min-height: 0px;

  width: 0px;
  min-width: 0px;

  padding: 0px;
  margin: 0px;
  border: 0px;

  overflow: hidden;
}

#mcneese-skip_nav:visited {
  background-color: #ffffff;
  color: #000000;
}

#mcneese-skip_nav:active,
#mcneese-skip_nav:focus,
#mcneese-skip_nav:hover {
  display: block;

  text-decoration: underline;

  font-size: 24px;
  line-height: 28px;

  height: auto;
  min-height: auto;

  width: auto;
  min-width: 450px;

  margin: 0px 64px;
  padding: 4px;
  border: 1px dotted;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-collapsed #mcneese-skip_nav:active,
.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-collapsed #mcneese-skip_nav:focus,
.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-collapsed #mcneese-skip_nav:hover {
    margin-top: 25px;
}

.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-expanded #mcneese-skip_nav:active,
.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-expanded #mcneese-skip_nav:focus,
.mcneese.is-toolbar-fixed.is-toolbar-expanded.is-toolbar-shortcuts-expanded #mcneese-skip_nav:hover {
    margin-top: 50px;
}



/*** Form Items ***/
.mcneese .form-wrapper > .fieldset-wrapper > .fieldset-description,
.mcneese .form-item > .description {
  background-color: #f0f0f0;

  margin: 2px 12px;
  padding: 4px;

  border: 1px solid #c0c0c0;
}




/*** Buttons ***/
.mcneese input.form-submit,
.mcneese a.button,
.mcneese a.button:visited,
.mcneese input#edit-linkit-insert,
.mcneese input#edit-linkit-insert:visited,
.mcneese a#linkit-cancel,
.mcneese a#linkit-cancel:visited,
.mcneese a#edit-cancel,
.mcneese a#edit-cancel:visited,
.mcneese input#preview-submit,
.mcneese input#preview-submit:visited {
  display: inline-block;

  color: #00477f;
  background-color: #fad703;

  font-family: "Lucida Grande",Verdana,sans-serif;
  font-size: 11px;
  line-height: 15px;
  font-weight: bold;

  text-align: center;
  text-decoration: none;
  text-shadow: 0px 0px 2px #FEFEFE;

  margin: 1px 3px;
  padding: 3px 4px;

  border: 1px outset #333333;
  border-radius: 3px 3px 3px 3px;

  cursor: pointer;

  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
}

.mcneese input.form-button-disabled,
.mcneese input.form-button-disabled:active {
  color: #999999;
  background: #eeeeee none;
  text-shadow: none;

  border-color: #eeeeee;
}

.mcneese input.form-autocomplete,
.mcneese input.form-text,
.mcneese input.form-file,
.mcneese textarea.form-textarea,
.mcneese select.form-select {
  color: #202020;
  background-color: #ffffff;

  padding: 2px;

  border: 1px solid #cccccc;
  border-top-color: #999999;
}

.mcneese input.form-autocomplete.error,
.mcneese input.form-text.error,
.mcneese input.form-file.error,
.mcneese textarea.form-textarea.error,
.mcneese select.form-select.error {
  color: #8c2e0b;

  border: 2px solid #ff0000;
}

.mcneese input.form-text:focus,
.mcneese input.form-file:focus,
.mcneese textarea.form-textarea:focus,
.mcneese select.form-select:focus {
  color: #000000;
  border-color: #aceace;
}

.mcneese input#edit-cancel--15,
.mcneese input#edit-cancel--14,
.mcneese input#edit-cancel--13,
.mcneese input#edit-cancel--12,
.mcneese input#edit-cancel--11,
.mcneese input#edit-cancel--10,
.mcneese input#edit-cancel--9,
.mcneese input#edit-cancel--8,
.mcneese input#edit-cancel--7,
.mcneese input#edit-cancel--6,
.mcneese input#edit-cancel--5,
.mcneese input#edit-cancel--4,
.mcneese input#edit-cancel--3,
.mcneese input#edit-cancel--2,
.mcneese input#edit-cancel--1 {
  color: #000000;
  background-color: #cecece;
}

.mcneese input#edit-remove--15,
.mcneese input#edit-remove--14,
.mcneese input#edit-remove--13,
.mcneese input#edit-remove--12,
.mcneese input#edit-remove--11,
.mcneese input#edit-remove--10,
.mcneese input#edit-remove--9,
.mcneese input#edit-remove--8,
.mcneese input#edit-remove--7,
.mcneese input#edit-remove--6,
.mcneese input#edit-remove--5,
.mcneese input#edit-remove--4,
.mcneese input#edit-remove--3,
.mcneese input#edit-remove--2,
.mcneese input#edit-remove--1 {
  color: #000000;
  background-color: #e86f69;
}

.mcneese div.remove-display form.views-ajax-form div.remove-display input.form-submit {
  color: #000000;
  background-color: #e86f69;
}

.mcneese div.remove-display form.views-ajax-form div.restore-display input.form-submit {
  color: #000000;
  background-color: #99b2ee;
}

.mcneese input#edit-publish,
.mcneese input#edit-unpublish {
  color: #000000;
  background-color: #99b2ee;
}

.mcneese form#views-ui-analyze-view-button div input.form-submit.form-submit,
.mcneese div.views-override input#edit-button--15,
.mcneese div.views-override input#edit-button--14,
.mcneese div.views-override input#edit-button--13,
.mcneese div.views-override input#edit-button--12,
.mcneese div.views-override input#edit-button--11,
.mcneese div.views-override input#edit-button--10,
.mcneese div.views-override input#edit-button--9,
.mcneese div.views-override input#edit-button--8,
.mcneese div.views-override input#edit-button--7,
.mcneese div.views-override input#edit-button--6,
.mcneese div.views-override input#edit-button--5,
.mcneese div.views-override input#edit-button--4,
.mcneese div.views-override input#edit-button--3,
.mcneese div.views-override input#edit-button--2,
.mcneese div.views-override input#edit-button--1,
.mcneese div.views-override input#edit-button.form-submit {
  color: #000000;
  background-color: #99b2ee;
}

.mcneese input#edit-displays-settings-settings-content-tab-content-details-top-actions-disable,
.mcneese a.button,
.mcneese a.button:visited,
.mcneese .form-submit.form-cancel,
.mcneese input.form-cancel,
.mcneese input#edit-cancel,
.mcneese a#linkit-cancel,
.mcneese a#linkit-cancel:visited,
.mcneese a#edit-cancel,
.mcneese a#edit-cancel:visited {
  color: #000000;
  background-color: #cecece;
}

.mcneese input#edit-linkit-insert,
.mcneese input.form-submit,
.mcneese .form-submit {
  color: #00477f;
  background-color: #fad703;
}

.mcneese input.form-submit.form-preview,
.mcneese input.form-preview,
.mcneese input#preview-submit,
.mcneese input#edit-reset-cache,
.mcneese input.form-submit.form-undelete,
.mcneese input.form-undelete,
.mcneese input#edit-preview,
.mcneese input#edit-undelete {
  color: #000000;
  background-color: #99b2ee;
}

.mcneese input#edit-displays-settings-settings-content-tab-content-details-top-actions-delete,
.mcneese input.form-submit.form-delete,
.mcneese input.form-delete,
.mcneese input#edit-remove,
.mcneese input.submit-delete {
  color: #000000;
  background-color: #e86f69;
}

.mcneese a.button:active,
.mcneese input.form-submit:active,
.mcneese input.form-delete:active,
.mcneese input#edit-linkit-insert:active,
.mcneese input.form-submit:active,
.mcneese input#edit-preview:active,
.mcneese input.submit-delete:active,
.mcneese input#edit-unpublish:active,
.mcneese input#edit-cancel:active,
.mcneese input#edit-remove:active,
.mcneese a#linkit-cancel:active,
.mcneese a#edit-cancel:active,
.mcneese input#preview-submit:active,
.mcneese ul#views-display-menu-tabs a:active,
.mcneese ul#views-display-menu-tabs a.active:active,
.mcneese a.button:focus,
.mcneese input.form-submit:focus,
.mcneese input.form-delete:focus,
.mcneese input#edit-linkit-insert:focus,
.mcneese input.form-submit:focus,
.mcneese input#edit-preview:focus,
.mcneese input.submit-delete:focus,
.mcneese input#edit-unpublish:focus,
.mcneese input#edit-cancel:focus,
.mcneese input#edit-remove:focus,
.mcneese a#linkit-cancel:focus,
.mcneese a#edit-cancel:focus,
.mcneese input#preview-submit:focus,
.mcneese ul#views-display-menu-tabs a:focus,
.mcneese ul#views-display-menu-tabs a.active:focus,
.mcneese a.button:hover,
.mcneese input.form-submit:hover,
.mcneese input.form-delete:hover,
.mcneese input#edit-linkit-insert:hover,
.mcneese input.form-submit:hover,
.mcneese input#edit-preview:hover,
.mcneese input.submit-delete:hover,
.mcneese input#edit-unpublish:hover,
.mcneese input#edit-cancel:hover,
.mcneese input#edit-remove:hover,
.mcneese a#linkit-cancel:hover,
.mcneese a#edit-cancel:hover,
.mcneese input#preview-submit:hover,
.mcneese ul#views-display-menu-tabs a:hover,
.mcneese ul#views-display-menu-tabs a.active:hover,
.mcneese input.form-submit.form-preview:hover,
.mcneese input.form-preview:hover,
.mcneese input#preview-submit:hover,
.mcneese input#edit-reset-cache:hover,
.mcneese input.form-submit.form-undelete:hover,
.mcneese input.form-undelete:hover,
.mcneese input#edit-preview:hover,
.mcneese input#edit-undelete:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}

.mcneese a.button:active,
.mcneese input.form-submit:active,
.mcneese input.form-delete:active,
.mcneese input#edit-linkit-insert:active,
.mcneese input.form-submit:active,
.mcneese input#edit-preview:active,
.mcneese input.submit-delete:active,
.mcneese input#edit-unpublish:active,
.mcneese a#linkit-cancel:active,
.mcneese a#edit-cancel:active,
.mcneese input#preview-submit:active,
.mcneese ul#views-display-menu-tabs a:active,
.mcneese ul#views-display-menu-tabs a.active:active {
  border: 1px inset #333333;
}

.mcneese input.form-submit:active,
.mcneese input.form-submit:active,
.mcneese input#edit-preview:active,
.mcneese input.submit-delete:active,
.mcneese a.button:active {
  background: #666666;
  color: #ffffff;
  border-color: #555555;
  text-shadow: #222222 0px -1px 0px;
}



/*** Content Specific Style: list-even-odd ***/
.mcneese .list-even_odd > .list-even-odd-row {
  font-family: Serif,Georgia,Times New Roman;
  letter-spacing: 1px;

  padding: 5px;
  margin-bottom: 10px;
}

.mcneese .list-even_odd > .list-even_odd-row_even,
.mcneese .list-even_odd > .list-even-odd-row.views-row-even {
  background-color: #efefef;
}

.mcneese .list-even_odd > .list-even_odd-row-title,
.mcneese .list-even_odd > .list-even_odd-row-title:visited,
.mcneese .list-even_odd > .list-even-odd-row.views-row-title,
.mcneese .list-even_odd > .list-even-odd-row.views-row-title:visited {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}



/*** Content Specific Style: list-inline ***/
.mcneese .list-inline_block {
  margin: 0px;
}

.mcneese .list-inline_block > li {
  display: inline-block;

  padding-left: 3px;
  padding-right: 3px;
}

.mcneese .list-inline_block > li.first {
  padding-left: 0px;
}

.mcneese .list-inline_block > li.last {
  padding-right: 0px;
}



/*** Content Specific Style: box-text ***/
.mcneese .box-text-center {
  background-color: #eaeaea;
  border: 1px solid #a9a9a9;
  margin: 5px auto;
}

.mcneese .box-text-center {
  text-align: center;
}



/*** Content Specific Style: color_box ***/
.mcneese .color_box {
  border: 1px solid;
  padding: 2px 4px;
}

.mcneese .color_box.color-grey {
  border-color: #a9a9a9;
  background-color: #eaeaea;
}

.mcneese .color_box.color-grey.emphasis-subtle {
  border-color: #bfbfbf;
  background-color: #f7f7f7;
}

.mcneese .color_box.color-grey.emphasis-obvious {
  border-color: #8a8a8a;
  background-color: #dbdbdb;
}

.mcneese .color_box.color-yellow {
  border-color: #edeebc;
  background-color: #feffc9;
}

.mcneese .color_box.color-yellow.emphasis-subtle {
  border-color: #ededd3;
  background-color: #feffe3;
}

.mcneese .color_box.color-yellow.emphasis-obvious {
  border-color: #edeea4;
  background-color: #feffb0;
}

.mcneese .color_box.color-blue {
  border-color: #bcc3ee;
  background-color: #c9d1ff;
}

.mcneese .color_box.color-blue.emphasis-subtle {
  border-color: #d3d7ed;
  background-color: #e3e7ff;
}

.mcneese .color_box.color-blue.emphasis-obvious {
  border-color: #a4afee;
  background-color: #b0bcff;
}

.mcneese .color_box.color-red {
  border-color: #eebfb7;
  background-color: #ffccc4;
}

.mcneese .color_box.color-red.emphasis-subtle {
  border-color: #eed8d4;
  background-color: #ffe7e3;
}

.mcneese .color_box.color-red.emphasis-obvious {
  border-color: #eeafa4;
  background-color: #ffbab0;
}

.mcneese .color_box.color-green {
  border-color: #b7eeb7;
  background-color: #c4ffc4;
}

.mcneese .color_box.color-green.emphasis-subtle {
  border-color: #d4eed4;
  background-color: #e3ffe3;
}

.mcneese .color_box.color-green.emphasis-obvious {
  border-color: #a4eea4;
  background-color: #b0ffb0;
}

.mcneese .color_box.color-orange {
  border-color: #eee2bc;
  background-color: #fff0c4;
}

.mcneese .color_box.color-orange.emphasis-subtle {
  border-color: #eee7d4;
  background-color: #fff8e3;
}

.mcneese .color_box.color-orange.emphasis-obvious {
  border-color: #eedba4;
  background-color: #ffebb0;
}

.mcneese .color_box.color-purple {
  border-color: #dbb7ee;
  background-color: #eac4ff;
}

.mcneese .color_box.color-purple.emphasis-subtle {
  border-color: #e5d4ee;
  background-color: #f5e3ff;
}

.mcneese .color_box.color-purple.emphasis-obvious {
  border-color: #d5a4ee;
  background-color: #e3b0ff;
}

.mcneese .color_box.color-teal {
  border-color: #b7eeed;
  background-color: #c4fffe;
}

.mcneese .color_box.color-teal.emphasis-subtle {
  border-color: #d4eeee;
  background-color: #e3ffff;
}

.mcneese .color_box.color-teal.emphasis-obvious {
  border-color: #a4eeed;
  background-color: #b0fffe;
}

.mcneese .color_box.color-pink {
  border-color: #eebcea;
  background-color: #ffc4fa;
}

.mcneese .color_box.color-pink.emphasis-subtle {
  border-color: #eed4ec;
  background-color: #ffe3fd;
}

.mcneese .color_box.color-pink.emphasis-obvious {
  border-color: #eea4e8;
  background-color: #ffb0f8;
}



/*** Status Page ***/
.mcneese .mcneese-content-main table.update > tbody > tr {
  border-bottom: 1px solid #999999;
}

.mcneese .mcneese-content-main table.update > tbody > tr.ok {
  background-color: #d1f7cb;
}

.mcneese .mcneese-content-main table.update > tbody > tr.info {
  background-color: #e0e0ff;
}

.mcneese .mcneese-content-main table.update > tbody > tr.warning {
  background-color: #ffffdd;
}

.mcneese .mcneese-content-main table.update > tbody > tr.error {
  background-color: #ffdddd;
}

.mcneese .mcneese-content-main table.update > tbody > tr.unknown {
  background-color: #eeeeee;
}

.mcneese .mcneese-content-main table.update > tbody > tr table.version-also-available {
  color: #000000;
  background-color: #f3e6ff;
}

.mcneese .mcneese-content-main table.update > tbody > tr table.version-recommended {
  color: #000000;
  background-color: #e6eaff;
}

.mcneese .mcneese-content-main table.update > tbody > tr table.version-recommended-strong {
  font-weight: bold;
}

.mcneese .mcneese-content-main table.update > tbody > tr table.version-latest {
  color: #000000;
  background-color: #ffebeb;
}

.mcneese .mcneese-content-main table.update > tbody > tr a,
.mcneese .mcneese-content-main table.update > tbody > tr a:visited {
  color: #0d3971;
}

.mcneese .mcneese-content-main table.update > tbody > tr > td ul.links > li {
  list-style-type: none;

  padding: 3px 0px;
}



/*** Search Results ***/
.mcneese .mcneese-content-main .search_results-section > .search_results {
  list-style-type: none;
}

.mcneese .mcneese-content-main .search_results-section > .search_results > .search_result {
  margin: 10px 0px 20px 0px;
}

.mcneese .mcneese-content-main .search_results-section > .search_results > .search_result > .search_result-section > .search_result-header > .title {
  font-size: 18px;
  line-height: 22px;
}
