


/*** Create/Edit ***/
#mfcs-event-create-0-form .form-item,
#mfcs-event-edit-0-form .form-item {
  margin: 0px;
}

#mfcs-event-create-0-form .form-item-wrapper,
#mfcs-event-edit-0-form .form-item-wrapper {
  margin: 8px 0px;
}

#mfcs-event-create-0-form .form-item-wrapper > .form-type-radios > .form-radios > .form-type-radio,
#mfcs-event-edit-0-form .form-item-wrapper > .form-type-radios > .form-radios > .form-type-radio {
  margin: 6px 0px;
}

#mfcs-event-create-0-form #section-event-dates #buttons-event-add_remove_date,
#mfcs-event-edit-0-form #section-event-dates #buttons-event-add_remove_date {
  display: block;
}

#mfcs-event-create-0-form #section-event-dates #submit-event-add-date,
#mfcs-event-edit-0-form #section-event-dates #submit-event-add-date {
  display: inline-block;
}

#mfcs-event-create-0-form #section-event-dates #submit-event-remove-date,
#mfcs-event-edit-0-form #section-event-dates #submit-event-remove-date {
  display: inline-block;
}

/** Location **/
#mfcs-event-create-0-form #field-event-location-0 > .location-image,
#mfcs-event-edit-0-form #field-event-location-0 > .location-image {
  float: right;
}

#mfcs-event-create-0-form #field-event-location-0 > .location-image-invisible,
#mfcs-event-edit-0-form #field-event-location-0 > .location-image-invisible {
  display: none;
}

#mfcs-event-create-0-form #field-event-location-0 > .location-image-visible,
#mfcs-event-edit-0-form #field-event-location-0 > .location-image-visible {
  display: inline-block;
}



/** Room **/
#mfcs-event-create-0-form #field-event-room > .form-item > .form-item-delta > .form-item,
#mfcs-event-edit-0-form #field-event-room > .form-item > .form-item-delta > .form-item {
  display: inline-block;
  vertical-align: top;

  width: 460px;

  min-height: 48px;

  border: 1px outset;
  padding: 4px;
  margin: 2px;
}

#mfcs-event-create-0-form #field-event-room > .form-item > .form-item-delta > .form-item > .form-radio,
#mfcs-event-edit-0-form #field-event-room > .form-item > .form-item-delta > .form-item > .form-radio {
  display: inline-block;
  vertical-align: middle;
  float: left;

  width: 16px;
  min-width: 16px;
  max-width: 16px;

  margin: 2px;
}

#mfcs-event-create-0-form #field-event-room > .form-item > .form-item-delta > .form-item > label,
#mfcs-event-edit-0-form #field-event-room > .form-item > .form-item-delta > .form-item > label {
  display: inline-block;
  vertical-align: middle;

  width: 440px;
  min-width: 440px;
  max-width: 440px;
}

#mfcs-event-create-0-form #field-event-room > .form-item > .form-item-delta > .form-item > label > .building_desc,
#mfcs-event-edit-0-form #field-event-room > .form-item > .form-item-delta > .form-item > label > .building_desc {
  font-weight: bold;
}

#mfcs-event-create-0-form #field-event-room > .form-item > .form-item-delta > .form-item > label > .room_number,
#mfcs-event-edit-0-form #field-event-room > .form-item > .form-item-delta > .form-item > label > .room_number {
  clear: both;
  float: right;
}

#mfcs-event-create-0-form #field-event-room > .form-item > .form-item-delta > .form-item > label > .room_capacity,
#mfcs-event-edit-0-form #field-event-room > .form-item > .form-item-delta > .form-item > label > .room_capacity {
  clear: both;
  float: right;
}

#mfcs-event-create-0-form #field-event-room > .form-item > .form-item-delta > .form-item > label > .room_description > .room_description-data,
#mfcs-event-edit-0-form #field-event-room > .form-item > .form-item-delta > .form-item > label > .room_description > .room_description-data {
  display: block;
}



/** Dates **/
#mfcs-event-create-0-form #group-event-dates-date > .group-field-container > .field-event-item,
#mfcs-event-edit-0-form #group-event-dates-date > .group-field-container > .field-event-item {
  display: inline-block;
  vertical-align: top;

  margin: 4px;
}

#mfcs-event-create-0-form #group-event-dates-date > .group-field-container > .buttons-event-remove-date,
#mfcs-event-edit-0-form #group-event-dates-date > .group-field-container > .buttons-event-remove-date {
  display: inline-block;
  vertical-align: top;

  margin: 22px 12px;
}

#mfcs-event-create-0-form #group-event-dates-date > .group-field-container > .buttons-event-remove-date > .buttons-event-remove-date-button,
#mfcs-event-edit-0-form #group-event-dates-date > .group-field-container > .buttons-event-remove-date > .buttons-event-remove-date-button {
  color: #000000;
  background-color: #e86f69;
}

#mfcs-event-create-0-form #group-event-dates-date > .group-field-container > .buttons-event-remove-date > .buttons-event-remove-date-button:active,
#mfcs-event-edit-0-form #group-event-dates-date > .group-field-container > .buttons-event-remove-date > .buttons-event-remove-date-button:active,
#mfcs-event-create-0-form #group-event-dates-date > .group-field-container > .buttons-event-remove-date > .buttons-event-remove-date-button:focus,
#mfcs-event-edit-0-form #group-event-dates-date > .group-field-container > .buttons-event-remove-date > .buttons-event-remove-date-button:focus,
#mfcs-event-create-0-form #group-event-dates-date > .group-field-container > .buttons-event-remove-date > .buttons-event-remove-date-button:hover,
#mfcs-event-edit-0-form #group-event-dates-date > .group-field-container > .buttons-event-remove-date > .buttons-event-remove-date-button:hover {
  text-decoration: underline;

  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;

  background-image: none;
  background-color: #666666;

  border: 1px outset #333333;
}

#mfcs-event-create-0-form #group-event-dates-date > .group-field-container > .buttons-event-remove-date > .buttons-event-remove-date-button:active,
#mfcs-event-edit-0-form #group-event-dates-date > .group-field-container > .buttons-event-remove-date > .buttons-event-remove-date-button:active {
  background: #666666;
  color: #ffffff;

  border: 1px inset #555555;
  text-shadow: #222222 0px -1px 0px;
}



/** Venue Coordinator **/
#mfcs-event-create-0-form #section-event-venue_coordinator > .fieldset-wrapper > .form-wrapper,
#mfcs-event-edit-0-form #section-event-venue_coordinator > .fieldset-wrapper > .form-wrapper {
  display: inline-block;
  vertical-align: top;

  margin: 4px;
}



/** Event Coordinator **/
#mfcs-event-create-0-form #section-event-event_coordinator > .fieldset-wrapper > .form-wrapper,
#mfcs-event-edit-0-form #section-event-event_coordinator > .fieldset-wrapper > .form-wrapper {
  display: inline-block;
  vertical-align: top;

  margin: 4px;
}



/** Information **/
#mfcs-event-create-0-form #section-event-information > .fieldset-wrapper > .form-wrapper,
#mfcs-event-edit-0-form #section-event-information > .fieldset-wrapper > .form-wrapper {
  display: inline-block;
  vertical-align: top;

  margin: 4px;
}



/*** View ***/
#mfcs-event-view-0-page {
}

#mfcs-event-view-0-page .event-section-display,
#mfcs-event-view-0-page .event-section-review-operations,
#mfcs-event-view-0-page .event-section-review-log {
  min-width: 960px;

  padding: 5px 0px;
  border-width: 0px;
  border-top-width: 1px;
}

#mfcs-event-view-0-page #event-review-log,
#mfcs-event-view-0-page #event-review-operations {
  font-size: 20px;
  line-height: 24px;
}

#mfcs-event-view-0-page .event-section-review {
  margin: 10px 0px;
}

#mfcs-event-view-0-page .event-section-review-log > .fieldset-wrapper,
#mfcs-event-view-0-page .event-section-review-operations > .fieldset-wrapper {
  width: 960px;
  min-width: 960px;
  max-width: 960px;

  margin: 0px auto;
}

#mfcs-event-view-0-page .event-section-review-operations > .fieldset-wrapper > .requirements {
  margin: 10px 0px;
}

#mfcs-event-view-0-page .event-section-review-operations > .fieldset-wrapper > .requirements > .fieldset-wrapper > .form-item {
  display: inline-block;
  vertical-align: top;
}

#mfcs-event-view-0-page .event-section-review-operations > .fieldset-wrapper > .event-section-review-operations-as_reviewer > .event-section-review-operations-as_reviewer-message {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;

  margin: 10px 0px 5px 0px;
}

#mfcs-event-view-0-page .event-section-review-operations > .fieldset-wrapper > .event-section-review-operations-requirements {
  color: #004cb6;

  font-weight: bold;
  font-style: italic;
}

#mfcs-event-view-0-page .event-field_groups {
  margin: 0px auto;

  width: 960px;
  min-width: 960px;
  max-width: 960px;
}

#mfcs-event-view-0-page .event-field_groups > .group {
  display: table;

  margin: 10px 0px;
}

#mfcs-event-view-0-page .event-field_groups > .group > .section-event {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;

  width: 478px;
  min-width: 478px;
  max-width: 478px;

  min-height: 200px;

  margin: 5px;
  border: 1px outset;

  overflow: auto;
}

#mfcs-event-view-0-page .event-field_groups > .group > .section-event > .section-event-label-wrapper {
  background-color: #d0d0d0;

  padding: 0px 5px;
  margin: 0px;
  border-top: 1px outset #a0a0a0;
  border-left: 1px outset #a0a0a0;
  border-bottom: 1px outset #a0a0a0;
  border-right: 1px outset #a0a0a0;
}

#mfcs-event-view-0-page .event-field_groups > .group > .section-event > .section-event-label-wrapper > .section-event-label {

}

#mfcs-event-view-0-page .event-field_groups > .group > .section-event > .section-event-label-wrapper > .section-event-agreement,
#mfcs-event-view-0-page .event-field_groups > .group > .section-event > .section-event-label-wrapper > .section-event-history,
#mfcs-event-view-0-page .event-field_groups > .group > .section-event > .section-event-label-wrapper > .section-event-edit,
#mfcs-event-view-0-page .event-field_groups > .group > .section-event > .section-event-label-wrapper > .section-event-clone {
  float: right;

  padding-left: 6px;
}

#mfcs-event-view-0-page .event-field_groups > .group > .section-event > .item-event {
  position: relative;

  clear: both;

  min-height: 18px;

  padding: 10px 5px 5px 5px;
  border-bottom: 1px dotted #707070;

  font-family: monospace;
}

#mfcs-event-view-0-page .event-field_groups > .group > .section-event > .item-event.even {
  background-color: #f4f4f4;
}

#mfcs-event-view-0-page .event-field_groups > .group > .section-event > .item-event.odd {
  background-color: #ffffff;
}

#mfcs-event-view-0-page .event-field_groups > .group > .section-event > .item-event.item-size-small > .item-label {
  display: block;
  float: left;

  font-weight: bold;
}

#mfcs-event-view-0-page .event-field_groups > .group > .section-event > .item-event.item-size-large > .item-label {
  display: block;

  font-weight: bold;
}

#mfcs-event-view-0-page .event-field_groups > .group > .section-event > .item-event > .item-label:after {
  content: ': ';
}

#mfcs-event-view-0-page .event-field_groups > .group > .section-event > .item-event.item-size-small > .item-value {
  display: block;

  text-align: right;
}

#mfcs-event-view-0-page .event-field_groups > .group > .section-event > .item-event.item-size-large > .item-value {
  display: block;
}

#mfcs-event-view-0-page .event-display-submit {
  width: 960px;
  min-width: 960px;
  max-width: 960px;

  margin: 5px auto;
}

#mfcs-event-view-0-page .event-section-review-log-submit,
#mfcs-event-view-0-page .event-section-review-operations-submit {
  margin: 5px 0px;
}

#mfcs-event-view-0-page .event-section-review-log-history > .fieldset-wrapper > .review-item {
  margin: 10px 0px;
}

#mfcs-event-view-0-page .event-section-review-log-history > .review-item {
  margin: 10px auto;
}

#mfcs-event-view-0-page .event-section-review-log-history > .review-item > .review-item-label {
  background-color: #d0d0d0;

  padding: 5px;
  margin: 0px;
  border-top: 1px outset #a0a0a0;
  border-left: 1px outset #a0a0a0;
  border-bottom: 1px outset #a0a0a0;
  border-right: 1px outset #a0a0a0;
}

#mfcs-event-view-0-page .event-section-review-log-history > .review-item > .review-item-label > .review-item-label-text,
#mfcs-event-view-0-page .event-section-review-log-history > .review-item > .review-item-label > .review-item-label-date,
#mfcs-event-view-0-page .event-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-label > .review-item-label-text,
#mfcs-event-view-0-page .event-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-label > .review-item-label-date {
  display: inline-block;
  vertical-align: top;
  margin: 0px;
}

#mfcs-event-view-0-page .event-section-review-log-history > .review-item > .review-item-label > .review-item-label-text,
#mfcs-event-view-0-page .event-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-label > .review-item-label-text {
  max-width: 740px;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

#mfcs-event-view-0-page .event-section-review-log-history > .review-item > .review-item-label > .review-item-label-text > .review-item-label-text-row,
#mfcs-event-view-0-page .event-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-label > .review-item-label-text > .review-item-label-text-row {
  display: inline;
  vertical-align: top;

  font-family: monospace;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
}

#mfcs-event-view-0-page .event-section-review-log-history > .review-item > .review-item-label > .review-item-label-text > .review-item-label-text-title,
#mfcs-event-view-0-page .event-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-label > .review-item-label-text > .review-item-label-text-title {
  display: inline;
}

#mfcs-event-view-0-page .event-section-review-log-history > .review-item > .review-item-label > .review-item-label-text > .review-item-label-text-title > .updater_id,
#mfcs-event-view-0-page .event-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-label > .review-item-label-text > .review-item-label-text-title > .updater_id {
  font-size: 9px;
  vertical-align: top;
  letter-spacing: 1px;
}

#mfcs-event-view-0-page .event-section-review-log-history > .review-item > .review-item-label > .review-item-label-date,
#mfcs-event-view-0-page .event-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-label > .review-item-label-date {
  float: right;
}

#mfcs-event-view-0-page .event-section-review-log-history > .review-item > .review-item-message,
#mfcs-event-view-0-page .event-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-message {
  position: relative;

  min-height: 18px;

  padding: 5px;
  border: 1px dotted #707070;

  background-color: #f4f4f4;
}

#mfcs-event-view-0-page .event-section-review-log-history > .review-item > .review-item-message > .review-item-message-requirements,
#mfcs-event-view-0-page .event-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-message > .review-item-message-requirements {
  padding: 3px 0px 0px 0px;
}


#mfcs-event-view-0-page .event-section-review-log-history > .review-item > .review-item-message > .review-item-message-requirements > .item-label,
#mfcs-event-view-0-page .event-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-message > .review-item-message-requirements > .item-label {
  display: inline-block;
  font-weight: bold;
}

#mfcs-event-view-0-page .event-section-review-log-history > .review-item > .review-item-message > .review-item-message-requirements > .item-value,
#mfcs-event-view-0-page .event-section-review-log-history > .fieldset-wrapper > .review-item > .review-item-message > .review-item-message-requirements > .item-value {
  display: inline-block;
}



/*** Facilities Use Agreement ***/
#mfcs-event_request-agreement,
.mcneese.alias-part-1-agreement_0.alias-part-3-pdf #mcneese-page-content > .page-title {
  display: block;

  width: 610px;
  min-width: 610px;
  max-width: 610px;

  margin-left: auto;
  margin-right: auto;
}

#mfcs-event_request-agreement {
  position: relative;
}

#mfcs-event_request-agreement > .agreement-header {
  position: relative;

  padding-bottom: 5px;
  border-bottom: 3px solid #000000;
  margin-bottom: 5px;
}

#mfcs-event_request-agreement > .agreement-header > .agreement-header-address {
  padding-top: 10px;
}

#mfcs-event_request-agreement > .agreement-header > .agreement-header-address > .agreement-header-address-line-0 {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

#mfcs-event_request-agreement > .agreement-header > .agreement-header-information {
  position: absolute;
  top: 10px;
  right: 10px;
}

#mfcs-event_request-agreement > .agreement-header > .agreement-header-information > .agreement-header-date > .agreement-header-date-label,
#mfcs-event_request-agreement > .agreement-header > .agreement-header-information > .agreement-header-date > .agreement-header-date-value,
#mfcs-event_request-agreement > .agreement-header > .agreement-header-information > .agreement-header-request_id > .agreement-header-request_id-label,
#mfcs-event_request-agreement > .agreement-header > .agreement-header-information > .agreement-header-request_id > .agreement-header-request_id-value {
  display: inline-block;
  vertical-align: top;
}

#mfcs-event_request-agreement > .agreement-header > .agreement-header-information > .agreement-header-date > .agreement-header-date-label,
#mfcs-event_request-agreement > .agreement-header > .agreement-header-information > .agreement-header-request_id > .agreement-header-request_id-label {
  font-weight: bold;

  min-width: 90px;
}

#mfcs-event_request-agreement > .agreement-table {
  display: table;

  width: 590px;
  min-width: 590px;
  max-width: 590px;

  margin: 10px 10px 0px 10px;

  border: 1px solid #c0c0c0;
}

#mfcs-event_request-agreement > .agreement-table > .agreement-table-header {
  display: table-header-group;
}

#mfcs-event_request-agreement > .agreement-table > .agreement-table-header > .agreement-table-header-row {
  display: table-row;
}

#mfcs-event_request-agreement > .agreement-table > .agreement-table-header > .agreement-table-header-row > .agreement-table-header-cell {
  display: table-cell;

  font-weight: bold;

  padding: 2px 4px;

  border-bottom: 1px solid #c0c0c0;
}

#mfcs-event_request-agreement > .agreement-table > .agreement-table-header > .agreement-table-header-row > .column-1,
#mfcs-event_request-agreement > .agreement-table > .agreement-table-header > .agreement-table-header-row > .column-2 {
  width: 100px;
  min-width: 100px;
  max-width: 100px;

  text-align: center;

  border-left: 1px solid #c0c0c0;
}

#mfcs-event_request-agreement > .agreement-table > .agreement-table-body {
  display: table-row-group;
}

#mfcs-event_request-agreement > .agreement-table > .agreement-table-body > .agreement-table-body-row {
  display: table-row;
}

#mfcs-event_request-agreement > .agreement-table > .agreement-table-body > .agreement-table-body-row > .agreement-table-body-row-cell {
  display: table-cell;

  padding: 2px 4px;
  border-bottom: 1px solid #c0c0c0;
}

#mfcs-event_request-agreement > .agreement-table > .agreement-table-body > .agreement-table-body-row:last-of-type > .agreement-table-body-row-cell {
  border-bottom: 0px none;
}

#mfcs-event_request-agreement > .agreement-table > .agreement-table-body > .agreement-table-body-row > .column-0 > .item-value {
  padding-left: 16px;
}

#mfcs-event_request-agreement > .agreement-table > .agreement-table-body > .agreement-table-body-row > .column-1,
#mfcs-event_request-agreement > .agreement-table > .agreement-table-body > .agreement-table-body-row > .column-2 {
  vertical-align: bottom;

  width: 100px;
  min-width: 100px;
  max-width: 100px;

  text-align: center;

  border-left: 1px solid #c0c0c0;
}

#mfcs-event_request-agreement > .agreement-amount_due {
  width: 210px;
  min-width: 210px;
  max-width: 210px;

  margin-left: 392px;
  margin-right: 8px;
}

#mfcs-event_request-agreement > .agreement-amount_due > .agreement-amount_due-label {
  display: table-cell;

  font-weight: bold;

  width: 100px;
  min-width: 100px;
  max-width: 100px;
}

#mfcs-event_request-agreement > .agreement-amount_due > .agreement-amount_due-value {
  display: table-cell;

  width: 106px;
  min-width: 106px;
  max-width: 106px;

  text-align: center;

  border: 2px solid #505050;
}

#mfcs-event_request-agreement > .agreement-signature {
  margin: 10px;
}

#mfcs-event_request-agreement > .agreement-signature > .agreement-signature-field {
  margin: 10px 0px;
}

#mfcs-event_request-agreement > .agreement-signature > .agreement-signature-field > .agreement-signature-field-label,
#mfcs-event_request-agreement > .agreement-signature > .agreement-signature-field > .agreement-signature-field-input {
  display: inline-block;
  vertical-align: bottom;
}

#mfcs-event_request-agreement > .agreement-signature > .agreement-signature-field > .agreement-signature-field-label {
  min-width: 100px;
}

#mfcs-event_request-agreement > .agreement-signature > .agreement-signature-field > .agreement-signature-field-input {
  width: 400px;
  min-width: 400px;
  max-width: 400px;

  border: 0px none;
  border-bottom: 1px solid #000000;
}

#mfcs-event_request-agreement > .agreement-signature > .agreement-signature-field > .agreement-signature-field-signature-input {
  min-height: 2em;
}

#mfcs-event_request-agreement #agreement-submit {
  margin: 10px;
}