


/*** Common Global ***/
.mcneese {
  font-size: 12px;
  line-height: 16px;
}

.mcneese h1 {
  font-weight: bold;
  font-size: 1.6em;
  line-height: 1.7em;
}

.mcneese h2 {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.6em;
}

.mcneese h3 {
  font-weight: bold;
  font-size: 1.4em;
  line-height: 1.5em;
}

.mcneese h4 {
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.4em;
}

.mcneese h5 {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.3em;
}

.mcneese h6 {
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.2em;
}

#mcneese-bulletin-page_title > .page-title > .html_tag-hgroup > .page-title,
#mcneese-page-content > .page-title > .html_tag-hgroup > .page-title {
  margin: 0px auto;
  padding: 0px;
}



/*** Development Module ***/
.mcneese > .dev-query,
#mcneese-page > .dev-query {
  display: none;
}



/*** Calendar - Month ***/
#mfcs-calendar-0-month > .calendar-month > .calendar-navigation {
  display: none;
}

#mfcs-calendar-0-month a {
  text-decoration: none;
  color: inherit;
}

#mfcs-calendar-0-month > .calendar-month > .calendar-body-wrapper > .calendar-body > .calendar-week-wrapper > .calendar-week > .calendar-day-wrapper > .calendar-day > .calendar-item {
  white-space: normal;
  text-overflow: ellipsis;
  overflow: visible;
}

#mfcs-calendar-0-month > .calendar-month > .calendar-body-wrapper > .calendar-body > .calendar-week-wrapper > .calendar-week > .calendar-day-wrapper > .calendar-day > .calendar-item {
  page-break-inside: avoid;
}

#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request {
  font-size: 9px;
  line-height: 13px;
}

#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper > .calendar-item > .calendar-item-time-wrapper > .calendar-item-time {
  font-size: 10px;
  font-weight: bold;
}

#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper > .calendar-item > .calendar-item-link-wrapper {
  padding: 2px 4px;
  margin-bottom: 2px;

  min-height: 13px;
  max-height: 26px;
  line-height: 13px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: no-wrap;
  word-break: break-word;

  text-align: center;

  background-color: #ececec;

  border-bottom: 2px solid #dedede;
}

#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper.constraint-height > .calendar-item > .calendar-item-link-wrapper {
  max-height: 13px;
}

#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper > .calendar-item > .calendar-item-time-wrapper,
#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper > .calendar-item > .calendar-item-location-wrapper {
  padding: 0px 4px;
  min-height: 14px;
  max-height: 16px;

  overflow: hidden;
  text-overflow: ellipsis;
}

#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper > .calendar-item > .calendar-item-footer-wrapper > .calendar-item-type-wrapper,
#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper > .calendar-item > .calendar-item-footer-wrapper > .calendar-item-id-wrapper {
  padding: 1px 3px;
  min-height: 10px;
  max-height: 12px;

  font-size: 9px;
  line-height: 10px;

  overflow: hidden;
  text-overflow: ellipsis;
}

#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper > .calendar-item > .calendar-item-description-wrapper {
  padding: 0px 4px;
  min-height: 14px;
  max-height: 42px;

  overflow: hidden;
  text-overflow: ellipsis;
}

#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper > .calendar-item > .calendar-item-location-wrapper {
  max-height: inherit;
}

#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper.slot-start.slot-stop > .calendar-item > .calendar-item-location-wrapper,
#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper.slot-start.slot-stop > .calendar-item > .calendar-item-location-wrapper > .calendar-item-location {
  max-height: 28px;
}

#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper.slot-start.slot-stop.constraint-height > .calendar-item > .calendar-item-location-wrapper,
#mfcs-calendar-0-day > .calendar-day > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper > .calendar-time_slot > .calendar-time_slot-request-wrapper > .calendar-time_slot-request > .calendar-item-wrapper.slot-start.slot-stop.constraint-height > .calendar-item > .calendar-item-location-wrapper > .calendar-item-location {
  max-height: 14px;
}

/*** Calendar - Month/Day - Full Calendar ***/
#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-event,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-event {
  page-break-inside: avoid;
}

#mfcs-calendar-0-day.calendar-month-fullcalendar .fc-event .fc-resizer,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-event .fc-resizer {
  display: none;
}

#mfcs-calendar-0-day.calendar-day-fullcalendar th,
#mfcs-calendar-0-day.calendar-day-fullcalendar td,
#mfcs-calendar-0-day.calendar-day-fullcalendar hr,
#mfcs-calendar-0-day.calendar-day-fullcalendar thead,
#mfcs-calendar-0-day.calendar-day-fullcalendar tbody,
#mfcs-calendar-0-month.calendar-month-fullcalendar th,
#mfcs-calendar-0-month.calendar-month-fullcalendar td,
#mfcs-calendar-0-month.calendar-month-fullcalendar hr,
#mfcs-calendar-0-month.calendar-month-fullcalendar thead,
#mfcs-calendar-0-month.calendar-month-fullcalendar tbody {
  border-color: #cccccc !important;
  background: #ffffff !important;
}

#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-bg,
#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-bgevent-skeleton,
#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-highlight-skeleton,
#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-helper-skeleton,
#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-bgevent-container,
#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-business-container,
#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-highlight-container,
#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-helper-container,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-bg,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-bgevent-skeleton,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-highlight-skeleton,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-helper-skeleton,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-bgevent-container,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-business-container,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-highlight-container,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-helper-container {
  display: none;
}

#mfcs-calendar-0-day.calendar-day-fullcalendar tbody .fc-row,
#mfcs-calendar-0-month.calendar-month-fullcalendar tbody .fc-row {
  height: auto !important;
  min-height: 0 !important;
}

#mfcs-calendar-0-day.calendar-day-fullcalendar tbody .fc-row .fc-content-skeleton,
#mfcs-calendar-0-month.calendar-month-fullcalendar tbody .fc-row .fc-content-skeleton {
  position: static;
  padding-bottom: 0 !important;
}

#mfcs-calendar-0-day.calendar-day-fullcalendar tbody .fc-row .fc-content-skeleton tbody tr:last-child td,
#mfcs-calendar-0-month.calendar-month-fullcalendar tbody .fc-row .fc-content-skeleton tbody tr:last-child td {
  padding-bottom: 1em;
}

#mfcs-calendar-0-day.calendar-day-fullcalendar tbody .fc-row .fc-content-skeleton table,
#mfcs-calendar-0-month.calendar-month-fullcalendar tbody .fc-row .fc-content-skeleton table {
  height: 1em;
}

#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-more-cell,
#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-more,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-more-cell,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-more {
  display: none !important;
}

#mfcs-calendar-0-day.calendar-day-fullcalendar .fc tr.fc-limited,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc tr.fc-limited {
  display: table-row !important;
}

#mfcs-calendar-0-day.calendar-day-fullcalendar .fc td.fc-limited,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc td.fc-limited {
  display: table-cell !important;
}

#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-popover,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-popover {
  display: none;
}

#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-time-grid .fc-event,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-time-grid .fc-event {
  position: static !important;
  margin: 3px 2px !important;
}

#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-time-grid .fc-event.fc-not-end,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-time-grid .fc-event.fc-not-end {
  border-bottom-width: 1px !important;
}

#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-time-grid .fc-event.fc-not-end:after,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-time-grid .fc-event.fc-not-end:after {
  content: "...";
}

#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-time-grid .fc-event.fc-not-start,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-time-grid .fc-event.fc-not-start {
  border-top-width: 1px !important;
}

#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-time-grid .fc-event.fc-not-start:before,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-time-grid .fc-event.fc-not-start:before {
  content: "...";
}

#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-time-grid .fc-event .fc-time,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-time-grid .fc-event .fc-time {
  white-space: normal !important;
}

#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-time-grid .fc-event .fc-time span,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-time-grid .fc-event .fc-time span {
  display: none;
}

#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-time-grid .fc-event .fc-time:after,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-time-grid .fc-event .fc-time:after {
  content: attr(data-full);
}

#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-scroller,
#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-day-grid-container,
#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-time-grid-container,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-scroller,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-day-grid-container,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-time-grid-container {
  overflow: visible !important;
  height: auto !important;
}

#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-row,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-row {
  border: 0 !important;
  margin: 0 !important;
}

#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-button-group,
#mfcs-calendar-0-day.calendar-day-fullcalendar .fc-button,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-button-group,
#mfcs-calendar-0-month.calendar-month-fullcalendar .fc-button {
  display: none;
}



/*** Calendar - Day ***/
#mfcs-calendar-0-day > .calendar-day > .calendar-navigation,
#mfcs-calendar-0-day > .calendar-day.calendar-range_links {
  display: none;
}

#mfcs-calendar-0-day a {
  text-decoration: none;
  color: inherit;
}

#mfcs-calendar-0-day > .calendar-day.calendar-range > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper {
  page-break-inside: avoid;
}



/*** Move Request ***/
#mfcs-request-manage-0-move-form #request-move-submit {
  display: none;
}
