


/*** View ***/
#mcneese-page-content > .page-title > .html_tag-hgroup > .page-title,
#mcneese-page-content .event-section-review-log .event-section-review-log-page_title {
  font-size: 20px;
  line-height: 24px;

  font-weight: bold;

  margin: 0px auto;
  padding: 0px;

  max-width: 960px;
}

#mcneese-page-content > .page-title > .html_tag-hgroup > .add-or-remove-shortcuts {
  display: none;
}

#mfcs-event-view-0-page .event-section-review-operations {
  display: none;
}

#mfcs-event-view-0-page .event-review-log-submit {
  display: none;
}

#mfcs-event-view-0-page .event-section-display,
#mfcs-event-view-0-page .event-section-review-operations,
#mfcs-event-view-0-page .event-section-review-log {
  border: 0px none;
  padding: 0px;
  margin: 0px;
  outline: 0px;
}

#mfcs-event-view-0-page .event-section-display > legend,
#mfcs-event-view-0-page .event-section-review-operations > legend,
#mfcs-event-view-0-page .event-section-review-log > legend {
  display: none;
}

#mfcs-event-view-0-page .event-field_groups > .group {
  page-break-inside: avoid;
}

#mfcs-event-view-0-page .event-field_groups > .group > .section-event > .field-event-item-information-user_id > .field-event-item-values > .field-event-item-values-value > .field-event-item-values-value-value > a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

#mfcs-event-view-0-page .event-section-review-log.mode-0 {
  page-break-before: always;
}

#mfcs-event-view-0-page .event-section-review-log,
#mfcs-event-view-0-page .event-section-review-operations {
  width: 960px;
  min-width: 960px;
  max-width: 960px;

  margin: 0px auto;
}
