


/*** View ***/
#mcneese-page-content > .page-title > .html_tag-hgroup > .page-title {
  font-size: 20px;
  line-height: 24px;

  margin: 0px;
  padding: 0px;
}

#mcneese-page-content > .page-title > .html_tag-hgroup > .add-or-remove-shortcuts {
  display: none;
}

#mcneese-event-workflow-event-view-0-page .event-section-display {
  border: 0px none !important;
  padding: 0px !important;
  margin: 0px !important;
  outline: 0px !important;
}

#mcneese-event-workflow-event-view-0-page .event-section-display > legend {
  display: none !important;
}

#mcneese-event-workflow-event-view-0-page .event-field_groups > .group {
  page-break-inside: avoid;
}

#mcneese-event-workflow-event-view-0-page .event-field_groups > .group > .section-event > .field-event-item-information-user_id > .field-event-item-values > .field-event-item-values-value > .field-event-item-values-value-value > a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}
