


/*** Global ***/
#mcneese-page-content > .page-title > .html_tag-hgroup > .page-title {
  font-size: 16px;
  line-height: 20px;

  font-weight: bold;

  margin: 0px auto;
  padding: 0px;
}



/*** Development Module ***/
.mcneese > .dev-query,
#mcneese-page > .dev-query {
  display: none;
}



/*** Calendar - Month ***/
#mfcs-calendar-0-month > .calendar-month > .calendar-navigation {
  display: none;
}

#mfcs-calendar-0-month a {
  text-decoration: none;
  color: inherit;
}

#mfcs-calendar-0-month > .calendar-month > .calendar-body-wrapper > .calendar-body > .calendar-week-wrapper > .calendar-week > .calendar-day-wrapper > .calendar-day > .calendar-item {
  white-space: normal;
  text-overflow: ellipsis;
  overflow: visible;
}

#mfcs-calendar-0-month > .calendar-month > .calendar-body-wrapper > .calendar-body > .calendar-week-wrapper > .calendar-week > .calendar-day-wrapper > .calendar-day > .calendar-item {
  page-break-inside: avoid;
}



/*** Calendar - Day ***/
#mfcs-calendar-0-day > .calendar-day > .calendar-navigation,
#mfcs-calendar-0-day > .calendar-day.calendar-range_links {
  display: none;
}

#mfcs-calendar-0-day a {
  text-decoration: none;
  color: inherit;
}

#mfcs-calendar-0-day > .calendar-day.calendar-range > .calendar-body-wrapper > .calendar-body > .calendar-time_slot-wrapper {
  page-break-inside: avoid;
}
