@media (orientation:landscape) {



  /*** Calendar - Month ***/
  .mcneese .calendar-month-wrapper > .calendar-month {
    width: 924px;
    min-width: 924px;
    max-width: 924px;

    margin: 5px auto;
  }

  .mcneese .calendar-month-wrapper > .calendar-month > .calendar-title,
  .mcneese .calendar-month-wrapper > .calendar-month > .calendar-title > h3 {
    font-size: 16px;
    line-height: 20px;
  }

  .mcneese .calendar-month-wrapper > .calendar-month > .calendar-header-wrapper > .calendar-header > .calendar-week-wrapper > .calendar-week > .calendar-day-wrapper > .calendar-day {
    width: 132px;
    min-width: 132px;
    max-width: 132px;

    padding: 3px 0px;
  }

  .mcneese .calendar-month-wrapper > .calendar-month > .calendar-body-wrapper > .calendar-body > .calendar-week-wrapper > .calendar-week {
    min-height: 96px;
    min-width: 924px;
  }

  .mcneese .calendar-month-wrapper > .calendar-month > .calendar-body-wrapper > .calendar-body > .calendar-week-wrapper > .calendar-week > .calendar-day-wrapper > .calendar-day {
    min-height: 96px;

    width: 132px;
    min-width: 132px;
    max-width: 132px;
  }

  .mcneese .calendar-month-wrapper > .calendar-month > .calendar-body-wrapper > .calendar-body > .calendar-week-wrapper > .calendar-week > .calendar-day-wrapper > .calendar-day > .calendar-item {
    padding: 3px 6px;

    font-size: 12px;
    line-height: 16px;
  }
}