


/*** Dashboard ***/
#mfcs-dashboard_page-choices {
  display: none;
}



/*** By Path Alias ***/
.mcneese.alias-part-0-requests .html_tag-header.page-title {
  display: none;
}

.mcneese.alias-part-0-requests.alias-part-1-view_0 .html_tag-header.page-title,
.mcneese.alias-part-0-requests.alias-part-1-print_0 .html_tag-header.page-title,
.mcneese.alias-part-0-requests.alias-part-1-pdf_0 .html_tag-header.page-title,
.mcneese.alias-part-0-requests.alias-part-1-history_0 .html_tag-header.page-title,
.mcneese.alias-part-0-requests.alias-part-1-agreement_0 .html_tag-header.page-title {
  display: inherit;
}



/*** Statistics Page ***/
#mfcs-statistics-page {
  font-size: 12px;
  line-height: 16px;
}



/*** E-mail Log Page ***/
#mfcs-request-email_log-0-page {
  font-size: 12px;
  line-height: 16px;
}

#mfcs-request-email_log-0-page .email_log-headers-wrapper.collapsed,
#mfcs-request-email_log-0-page .email_log-raw_body-wrapper.collapsed,
#mfcs-request-email_log-0-page .email_log-body-wrapper.collapsed {
  display: none;
}

#mfcs-request-email_log-0-page .email_log-headers-wrapper > legend > .fieldset-legend > a,
#mfcs-request-email_log-0-page .email_log-headers-wrapper > legend > .fieldset-legend > a:visited,
#mfcs-request-email_log-0-page .email_log-headers-wrapper > legend > .fieldset-legend > a:focus,
#mfcs-request-email_log-0-page .email_log-headers-wrapper > legend > .fieldset-legend > a:active,
#mfcs-request-email_log-0-page .email_log-headers-wrapper > legend > .fieldset-legend > a:hover,
#mfcs-request-email_log-0-page .email_log-raw_body-wrapper > legend > .fieldset-legend > a,
#mfcs-request-email_log-0-page .email_log-raw_body-wrapper > legend > .fieldset-legend > a:visited,
#mfcs-request-email_log-0-page .email_log-raw_body-wrapper > legend > .fieldset-legend > a:focus,
#mfcs-request-email_log-0-page .email_log-raw_body-wrapper > legend > .fieldset-legend > a:active,
#mfcs-request-email_log-0-page .email_log-raw_body-wrapper > legend > .fieldset-legend > a:hover,
#mfcs-request-email_log-0-page .email_log-body-wrapper > legend > .fieldset-legend > a,
#mfcs-request-email_log-0-page .email_log-body-wrapper > legend > .fieldset-legend > a:visited,
#mfcs-request-email_log-0-page .email_log-body-wrapper > legend > .fieldset-legend > a:focus,
#mfcs-request-email_log-0-page .email_log-body-wrapper > legend > .fieldset-legend > a:active,
#mfcs-request-email_log-0-page .email_log-body-wrapper > legend > .fieldset-legend > a:hover {
  color: inherit;
  background-color: inherit;

  text-decoration: none;
}